SDK-Examples/node-red/heapmapetc.flow
[{"id":"ba40758d.fdf688","type":"tab","label":"ST1","disabled":false,"info":""},{"id":"1926a2e8.fa335d","type":"serial in","z":"ba40758d.fdf688","name":"","serial":"3e81892c.64c866","x":150,"y":120,"wires":[["a04b7ae3.b4e408","5b711168.ecc4f"]]},{"id":"49e18f34.6bc8a","type":"debug","z":"ba40758d.fdf688","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":500,"wires":[]},{"id":"33a9e6c7.aa1cea","type":"function","z":"ba40758d.fdf688","name":"","func":"//CR removal\nmsg.payload = msg.payload.substring(0, msg.payload.length - 2);\n// length of sensor should be calculated\nmsg.sensorrows=global.get(\"sensorrows\") || 8\nmsg.sensorcols=global.get(\"sensorcols\") || 8\n// get format pretty 000, or compact 0, \n//. length = sensorrows*4 (format)*cols\n\nif( msg.payload.length > 30 && msg.payload.length <300 )\n{\nglobal.set(\"Objectsize\",Object.keys(msg).length);\nmsgcount=global.get(\"msgcount\")||0;\nmsgcount++\nglobal.set(\"msgcount\",msgcount);\n   \n  msg.payload = msg.payload.substring(0,msg.payload.length) //remove #\n  global.set(\"lastpayload\",msg.payload)\n\nmsg.values = msg.payload.split(\",\")\n    \n\n   // for (a in  msg.values ) {\n   //  msg.values[a] = parseInt( msg.values[a], 10); // Explicitly include base as per Álvaro's comment\n//}\n    global.set(\"lastpayloadvalues\",msg.values)\n  //  msg.sheet = msg.values\n    msg.max  =Math.max.apply(Math, msg.values)\n      global.set(\"MaxValue\",msg.max )\n    delete msg.port\n    msg.size = msg.payload.length\n    return msg;\n}","outputs":1,"noerr":0,"x":590,"y":560,"wires":[["49e18f34.6bc8a","c7a4db5d.39b788","ebad64b2.f91a68"]]},{"id":"f61ea918.b7dcd8","type":"comment","z":"ba40758d.fdf688","name":"BluThooth Information","info":"BLE PIN code -1969\n// Name may vary\nBlueTooth =\"/dev/tty.ST1-MVK-05-DevB\"\nusb = '/dev/tty.usbserial-143320'\n","x":140,"y":80,"wires":[]},{"id":"90ee28ab.211cf8","type":"function","z":"ba40758d.fdf688","name":"","func":" msg.size = msg.payload.length\n if( msg.payload.length < 50)\n{\n    delete msg.port\n    delete msg._msgid\n    msg.size = msg.payload.length\n    return msg;\n}else{\n  //  return msg;\n}","outputs":1,"noerr":0,"x":410,"y":280,"wires":[["7f2ff434.3f5dbc","7a0ef2fe.8c87fc"]]},{"id":"7f2ff434.3f5dbc","type":"debug","z":"ba40758d.fdf688","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":280,"wires":[]},{"id":"7a224f2c.4da64","type":"debug","z":"ba40758d.fdf688","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":200,"wires":[]},{"id":"7a0ef2fe.8c87fc","type":"function","z":"ba40758d.fdf688","name":"","func":"msg.payloadold=msg.payload\nmsg.payload=msg.payload.split(\"=\")\na=parseInt(msg.payload[1])\nif (!isNaN(a)) \nmsg.payload[1]=a\nreturn msg","outputs":1,"noerr":0,"x":430,"y":200,"wires":[["7a224f2c.4da64","fb3c3bf6.25d018"]]},{"id":"fb3c3bf6.25d018","type":"switch","z":"ba40758d.fdf688","name":"","property":"payload[0]","propertyType":"msg","rules":[{"t":"cont","v":"VERSION","vt":"str"},{"t":"cont","v":"SPEED","vt":"str"},{"t":"cont","v":"THRESHOLD","vt":"str"},{"t":"cont","v":"MYLOOPS","vt":"str"},{"t":"cont","v":"DEVICEID","vt":"str"},{"t":"cont","v":"DEVICETYPE","vt":"str"},{"t":"cont","v":"SENSOR","vt":"str"},{"t":"cont","v":"FLIPPED","vt":"str"},{"t":"cont","v":"CABLEORIENTATION","vt":"str"},{"t":"cont","v":"NOISELEVEL","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":750,"y":140,"wires":[["b685a86f.b7bdd8","f1b3586b.8c82d8"],["9905aa8e.96aa88","e3161cb0.a96bf"],["7d85c329.480ebc","d8d491c.e22af7"],["3256d2.08ee392e"],["a0558738.5d6e08","9228f5af.00c208"],["e5342593.460328","1b75bed9.b734d1"],["4e226310.ede89c","c281df97.bac67"],["c3496868.1b1cc8"],["bd5966b1.80c1f8"],["51ceb273.d340dc","74a708e8.13eba8"]]},{"id":"b685a86f.b7bdd8","type":"ui_text","z":"ba40758d.fdf688","group":"42d8293f.417478","order":1,"width":0,"height":0,"name":"","label":"Version","format":"{{msg.payload[1]}}","layout":"row-spread","x":1000,"y":100,"wires":[]},{"id":"21994911.33ac06","type":"ui_chart","z":"ba40758d.fdf688","name":"","group":"a9df4ff8.03056","order":0,"width":0,"height":0,"label":"Matrix","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"500","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1210,"y":620,"wires":[[]]},{"id":"ebad64b2.f91a68","type":"function","z":"ba40758d.fdf688","name":"","func":"\n\n\n for (a in  msg.values ) {\n   msg.values[a] = parseInt( msg.values[a], 10); // Explicitly include base as per Álvaro's comment\n}\n\nbigdata=[]\nmyd = \n    [{ \"x\": 0, \"y\": msg.values[0] },\n     { \"x\": 1, \"y\": msg.values[1]  },\n     { \"x\": 2, \"y\": msg.values[2]  },\n     { \"x\": 3, \"y\": msg.values[3]  },\n     { \"x\": 4, \"y\": msg.values[4]  },\n     { \"x\": 5, \"y\": msg.values[5]  },\n     { \"x\": 6, \"y\": msg.values[6]  },  \n     { \"x\": 7, \"y\": msg.values[7]  },\n    ]\no=0    \nfor (i=0;i<8;i++)\n{\n/*\n   node.warn(o)\n   for (aa in myd)\n   {\n    myd[aa].y=msg.values[aa+o]\n   }\n*/   \nmyd=[{ \"x\": 0, \"y\": msg.values[o] },\n     { \"x\": 1, \"y\": msg.values[1+o]  },\n     { \"x\": 2, \"y\": msg.values[2+o]  },\n     { \"x\": 3, \"y\": msg.values[3+o]  },\n     { \"x\": 4, \"y\": msg.values[4+o]  },\n     { \"x\": 5, \"y\": msg.values[5+o]  },\n     { \"x\": 6, \"y\": msg.values[6+o]  },  \n     { \"x\": 7, \"y\": msg.values[7+o]  },\n    ]\n    \n    \n   bigdata.push(myd)\n   \n  o=o+8\n}\nmsg.payload =msg.values;\nseries = [\"A\"]\ndata=  myd\nlabels = [\"A\"]\nmsg.payload = {series, data, labels};\nmsg.payload =[{\n\"series\": [\"Row1\",\"Row2\",\"Row3\",\"Row4\",\"Row5\",\"Row6\",\"Row7\",\"Row8\"],\n\"data\": bigdata,\n\"labels\": [\"Row1\",\"Row2\",\"Row3\",\"Row4\",\"Row5\",\"Row6\",\"Row7\",\"Row8\"],\n}]\n/*\n\"data1\": [\n    [{ \"x\": 0, \"y\": msg.values[0] },\n     { \"x\": 1, \"y\": msg.values[1]  },\n     { \"x\": 2, \"y\": msg.values[2]  },\n     { \"x\": 3, \"y\": msg.values[3]  },\n     { \"x\": 4, \"y\": msg.values[4]  },\n     { \"x\": 5, \"y\": msg.values[5]  },\n     { \"x\": 6, \"y\": msg.values[6]  },  \n     { \"x\": 7, \"y\": msg.values[7]  },\n    ],\n    [{ \"x\": 0, \"y\": msg.values[8] },\n     { \"x\": 1, \"y\": msg.values[9]  },\n     { \"x\": 2, \"y\": msg.values[10]  },\n     { \"x\": 3, \"y\": msg.values[11]  },\n     { \"x\": 4, \"y\": msg.values[12]  },\n     { \"x\": 5, \"y\": msg.values[13]  },\n     { \"x\": 6, \"y\": msg.values[14]  },  \n     { \"x\": 7, \"y\": msg.values[15]  },\n    ],\n\nmsg.payload1 =[{\n\"series\": [\"A\", \"B\", \"C\"],\n\"data\": [\n    [{ \"x\": 1504029632890, \"y\": 5 },\n     { \"x\": 1504029636001, \"y\": 4 },\n     { \"x\": 1504029638656, \"y\": 2 }\n    ],\n    [{ \"x\": 1504029633514, \"y\": 6 },\n     { \"x\": 1504029636622, \"y\": 7 },\n     { \"x\": 1504029639539, \"y\": 6 }\n    ],\n    [{ \"x\": 1504029634400, \"y\": 7 },\n     { \"x\": 1504029637959, \"y\": 7 },\n     { \"x\": 1504029640317, \"y\": 7 }\n    ]\n],\n\"labels\": [\"\"]\n}]\n*/\nreturn msg;\n\n","outputs":1,"noerr":0,"x":970,"y":620,"wires":[["21994911.33ac06","2fa145cb.fa794a"]]},{"id":"2fa145cb.fa794a","type":"debug","z":"ba40758d.fdf688","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1210,"y":580,"wires":[]},{"id":"f1b3586b.8c82d8","type":"function","z":"ba40758d.fdf688","name":"Set Flow  Vars","func":"//CR removal\nmsg.payload[1] = msg.payload[1].substring(0, msg.payload[1].length - 2);\nglobal.set(\"VERSION\",msg.payload[1])\n//RESET\nglobal.set(\"Objectsize\",0);\nglobal.set(\"msgcount\",0);\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":100,"wires":[[]]},{"id":"9905aa8e.96aa88","type":"function","z":"ba40758d.fdf688","name":"Speed","func":"//CR removal\n//msg.payload[1] = msg.payload[1].substring(0, msg.payload[1].length - 1);\nglobal.set(\"Speed\",msg.payload[1])\nmsg.time=new Date();\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":40,"wires":[["dce35d93.671af"]]},{"id":"3256d2.08ee392e","type":"function","z":"ba40758d.fdf688","name":"loops","func":"//CR removal\n//msg.payload[1] = msg.payload[1].substring(0, msg.payload[1].length - 1);\nglobal.set(\"Loops\",msg.payload[1])\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":220,"wires":[[]]},{"id":"9fae428e.ca723","type":"comment","z":"ba40758d.fdf688","name":"SQL Table","info":"SELECT \"Date\", \"Time\", \"TS\", \"Version\", \"Loops\", \"Edgespeed\", \"NRSpeed\", \"MaxValue\", \"Marker\", \"Threshold\", \"Group\", \"Location\", \"ID\", \"Sensor1\", \"Sensor2\", \"Sensor3\", \"Sensor4\", \"Comment\", \"TIMESTAMP\"\n  FROM \"DB2INST1\".\"ST1LABSTST\";\n\nINSERT\n  INTO  \"DB2INST1\".\"ST1LABSTST\" (\"Date\",\"Time\",\"TS\",\"Version\",\"Loops\",\"Edgespeed\",\"NRSpeed\",\"MaxValue\",\"Marker\",\"Threshold\",\"Group\",\"Location\",\"ID\",\"Sensor1\",\"Sensor2\",\"Sensor3\",\"Sensor4\",\"Comment\",\"TIMESTAMP\")\n  VALUES(\nNULL,               \t--Date  DATE \nNULL,               \t--Time  TIME \nNULL,               \t--TS  BIGINT \nNULL,               \t--Version  VARCHAR(30)  \nNULL,               \t--Loops  INTEGER \nNULL,               \t--Edgespeed  SMALLINT \nNULL,               \t--NRSpeed  SMALLINT \nNULL,               \t--MaxValue  SMALLINT \nNULL,               \t--Marker  VARCHAR(6)  \nNULL,               \t--Threshold  SMALLINT \nNULL,               \t--Group  VARCHAR(5)  \nNULL,               \t--Location  VARCHAR(16)  \nNULL,               \t--ID  VARCHAR(44)  \nNULL,               \t--Sensor1  DECIMAL(6)  \nNULL,               \t--Sensor2  DECIMAL(10)  \nNULL,               \t--Sensor3  DECIMAL(6)  \nNULL,               \t--Sensor4  DECIMAL(10)  \nNULL,               \t--Comment  VARCHAR(168)  \nNULL               \t--TIMESTAMP  TIMESTAMP(6)  \n);\n\nadd SQLTS\nALTER TABLE [accounts] \n ADD SQLTS DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ;\n ","x":120,"y":540,"wires":[]},{"id":"a0558738.5d6e08","type":"ui_text","z":"ba40758d.fdf688","group":"42d8293f.417478","order":1,"width":0,"height":0,"name":"","label":"DEVICEID","format":"{{msg.payload[1]}}","layout":"row-spread","x":780,"y":240,"wires":[]},{"id":"e5342593.460328","type":"ui_text","z":"ba40758d.fdf688","group":"42d8293f.417478","order":1,"width":0,"height":0,"name":"","label":"DEVICETYPE","format":"{{msg.payload[1]}}","layout":"row-spread","x":800,"y":280,"wires":[]},{"id":"9228f5af.00c208","type":"function","z":"ba40758d.fdf688","name":"DEVICEID","func":"//CR removal\nmsg.payload[1] = msg.payload[1].substring(0, msg.payload[1].length - 2);\nglobal.set(\"DEVICEID\",msg.payload[1])\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":180,"wires":[["41e6aab2.2fb394"]]},{"id":"1b75bed9.b734d1","type":"function","z":"ba40758d.fdf688","name":"DEVICETYPE","func":"//CR removal\nmsg.payload[1] = msg.payload[1].substring(0, msg.payload[1].length - 2);\nglobal.set(\"DEVICETYPE\",msg.payload[1])\nreturn msg;","outputs":1,"noerr":0,"x":1480,"y":280,"wires":[["7aab12.b59c24f","d365ead6.5ec888"]]},{"id":"2eabaf50.be957","type":"link out","z":"ba40758d.fdf688","name":"toDB","links":["e5ce17a0.3a6b88","905bb6e3.7114f8","5425d283.de892c"],"x":575,"y":440,"wires":[]},{"id":"7aab12.b59c24f","type":"function","z":"ba40758d.fdf688","name":"YOUR COMPUTER ID","func":"global.set(\"COMPUTERID\",\"MARKUS\")\nmsg.payload=global.get(\"COMPUTERID\")\nreturn msg;","outputs":1,"noerr":0,"x":1700,"y":240,"wires":[["f2ae9643.70cdd8"]]},{"id":"d365ead6.5ec888","type":"function","z":"ba40758d.fdf688","name":"YOUR LOCATON","func":"global.set(\"LOCATION\",\"TORONTO\")\nmsg.payload=global.get(\"LOCATION\")\nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":360,"wires":[["69694491.dae86c"]]},{"id":"f2ae9643.70cdd8","type":"ui_text","z":"ba40758d.fdf688","group":"4ab36855.6cdc58","order":1,"width":0,"height":0,"name":"","label":"Computer","format":"{{msg.payload}}","layout":"row-spread","x":1740,"y":280,"wires":[]},{"id":"69694491.dae86c","type":"ui_text","z":"ba40758d.fdf688","group":"4ab36855.6cdc58","order":1,"width":0,"height":0,"name":"","label":"Location","format":"{{msg.payload}}","layout":"row-spread","x":1740,"y":320,"wires":[]},{"id":"7d85c329.480ebc","type":"function","z":"ba40758d.fdf688","name":"threshhold","func":"//CR removal\n//msg.payload[1] = msg.payload[1].substring(0, msg.payload[1].length - 1);\nglobal.set(\"threshhold\",msg.payload[1])\nmsg.payload=msg.payload[1]\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":80,"wires":[["2bb52e93.300dd2"]]},{"id":"41e6aab2.2fb394","type":"debug","z":"ba40758d.fdf688","name":"DEVICEID","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1360,"y":180,"wires":[]},{"id":"db64fccd.e05bc","type":"inject","z":"ba40758d.fdf688","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":800,"wires":[["d96449c5.98d938"]]},{"id":"d96449c5.98d938","type":"function","z":"ba40758d.fdf688","name":"Simulate Data","func":"str=\"\"\nfor (a=0;a<100;a++)\n{\nmsg.payload={}  \nstr=\"\"\nfor (i=0;i<64;i++)\n{\nv=Math.floor(Math.random() * 350); \n//v=v+100;\nstr=str+v+\",\"    \n    \n}\nmsg.payload=str+\"#\";\n//node.warn(msg.payload.length)\nnode.send(msg)\n}","outputs":1,"noerr":0,"x":160,"y":760,"wires":[["885cc16.026a84","8d0f3f80.41bf4"]]},{"id":"885cc16.026a84","type":"debug","z":"ba40758d.fdf688","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":330,"y":620,"wires":[]},{"id":"a04b7ae3.b4e408","type":"function","z":"ba40758d.fdf688","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":280,"wires":[["33a9e6c7.aa1cea","90ee28ab.211cf8"]]},{"id":"88f30c40.f2eae","type":"function","z":"ba40758d.fdf688","name":"Manufacturing Data","func":"\nmsg.payload=\"DEVICEID=ST1MVKSIM02 \"\nnode.send(msg)\nmsg.payload=\"DEVICETYPE=NODERED \"\nnode.send(msg)\nmsg.payload=\"SOURCE=NR \"\nnode.send(msg)\nmsg.payload=\"Speed=10 \"\nnode.send(msg)\nmsg.payload=\"SENSOR=8x8 \"\nnode.send(msg)\nmsg.payload=\"VERSION=VERSION02 \"\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":880,"wires":[["885cc16.026a84","8d0f3f80.41bf4"]]},{"id":"ba1b4d25.8c44a","type":"inject","z":"ba40758d.fdf688","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":960,"wires":[["88f30c40.f2eae"]]},{"id":"8d0f3f80.41bf4","type":"delay","z":"ba40758d.fdf688","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":580,"wires":[["a04b7ae3.b4e408"]]},{"id":"c7a4db5d.39b788","type":"function","z":"ba40758d.fdf688","name":"Create Grid","func":"\n//{group: \"C1\", variable: \"r1\", value: \"30\"},\n\n\n for (a in  msg.values ) {\n   msg.values[a] = parseInt( msg.values[a], 10);\n}\nv=1\ng=1\nbigdata=[]\nmyd={}\n for (a in  msg.values ) {\nmyd={}\nmyd.group=\"C\"+v\nmyd.variable= \"R\"+g\nmyd.value = msg.values[a]\nif(!isNaN(msg.values[a]))\nbigdata.push(myd)\nv++\nif(v>msg.sensorcols)\n{\nv=1\ng++\n}\n\n}\nmsg.payload =bigdata\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":990,"y":680,"wires":[["c36459b3.36e8b8","c658a6ef.b53e08"]]},{"id":"c36459b3.36e8b8","type":"ui_template","z":"ba40758d.fdf688","group":"ac55a138.0440a","name":"heat map","order":1,"width":"20","height":"12","format":"\n<!-- Code from d3-graph-gallery.com -->\n<!DOCTYPE html>\n<meta charset=\"utf-8\">\n\n<!-- Load d3.js -->\n<script src=\"//d3js.org/d3.v4.js\"></script>\n\n<!-- Create a div where the graph will take place -->\n<div id=\"my_dataviz\"></div>\n\n\n\n<script>\n (function(scope) {\n \n // Watch for messages being send to this template node\n scope.$watch('msg', function (msg) {\n  console.log(msg.payload)\n if (msg) {\n \n //var ELEMENT = document.getElementById('ELEMENT');\n //ELEMENT = msg.payload;\nmyplot(msg.payload)\n }\n \n });\n })(scope);\n \n// set the dimensions and margins of the graph\nvar margin = {top: 50, right: 50, bottom: 50, left: 50},\n  width = 850 - margin.left - margin.right,\n  height = 550 - margin.top - margin.bottom;\n\n// append the svg object to the body of the page\nvar svg = d3.select(\"#my_dataviz\")\n.append(\"svg\")\n  .attr(\"width\", width + margin.left + margin.right)\n  .attr(\"height\", height + margin.top + margin.bottom)\n.append(\"g\")\n  .attr(\"transform\",\n        \"translate(\" + margin.left + \",\" + margin.top + \")\");\n\n// Labels of row and columns\nvar myGroups = [\"C1\", \"C2\",\"C3\", \"C4\",\"C5\", \"C6\",\"C7\", \"C8\"]\nvar myVars   = [\"R1\", \"R2\",\"R3\", \"R4\",\"R5\", \"R6\",\"R7\", \"R8\"]\n\n// Build X scales and axis:\nvar x = d3.scaleBand()\n  .range([ 0, width ])\n  .domain(myGroups)\n  .padding(0.01);\nsvg.append(\"g\")\n  .attr(\"transform\", \"translate(0,\" + height + \")\")\n  .call(d3.axisBottom(x))\n\n// Build X scales and axis:\nvar y = d3.scaleBand()\n  .range([ height, 0 ])\n  .domain(myVars)\n  .padding(0.01);\nsvg.append(\"g\")\n  .call(d3.axisLeft(y));\n\n// Build color scale\nvar myColor = d3.scaleLinear()\n  .range([\"white\", \"#69b3FF\"])\n  .domain([1,200])\n\nmvkdata=[{\"group\":\"C1\",\"variable\":\"R1\",\"value\":82},{\"group\":\"C1\",\"variable\":\"R2\",\"value\":182},{\"group\":\"C1\",\"variable\":\"R3\",\"value\":290},{\"group\":\"C1\",\"variable\":\"R4\",\"value\":67},{\"group\":\"C1\",\"variable\":\"R5\",\"value\":263},{\"group\":\"C1\",\"variable\":\"R6\",\"value\":341},{\"group\":\"C1\",\"variable\":\"R7\",\"value\":340},{\"group\":\"C1\",\"variable\":\"R8\",\"value\":62},{\"group\":\"C2\",\"variable\":\"R1\",\"value\":206},{\"group\":\"C2\",\"variable\":\"R2\",\"value\":76},{\"group\":\"C2\",\"variable\":\"R3\",\"value\":4},{\"group\":\"C2\",\"variable\":\"R4\",\"value\":290},{\"group\":\"C2\",\"variable\":\"R5\",\"value\":171},{\"group\":\"C2\",\"variable\":\"R6\",\"value\":215},{\"group\":\"C2\",\"variable\":\"R7\",\"value\":79},{\"group\":\"C2\",\"variable\":\"R8\",\"value\":15},{\"group\":\"C3\",\"variable\":\"R1\",\"value\":7},{\"group\":\"C3\",\"variable\":\"R2\",\"value\":252},{\"group\":\"C3\",\"variable\":\"R3\",\"value\":281},{\"group\":\"C3\",\"variable\":\"R4\",\"value\":271},{\"group\":\"C3\",\"variable\":\"R5\",\"value\":326},{\"group\":\"C3\",\"variable\":\"R6\",\"value\":21},{\"group\":\"C3\",\"variable\":\"R7\",\"value\":52},{\"group\":\"C3\",\"variable\":\"R8\",\"value\":109},{\"group\":\"C4\",\"variable\":\"R1\",\"value\":142},{\"group\":\"C4\",\"variable\":\"R2\",\"value\":349},{\"group\":\"C4\",\"variable\":\"R3\",\"value\":132},{\"group\":\"C4\",\"variable\":\"R4\",\"value\":93},{\"group\":\"C4\",\"variable\":\"R5\",\"value\":173},{\"group\":\"C4\",\"variable\":\"R6\",\"value\":142},{\"group\":\"C4\",\"variable\":\"R7\",\"value\":257},{\"group\":\"C4\",\"variable\":\"R8\",\"value\":134},{\"group\":\"C5\",\"variable\":\"R1\",\"value\":126},{\"group\":\"C5\",\"variable\":\"R2\",\"value\":155},{\"group\":\"C5\",\"variable\":\"R3\",\"value\":180},{\"group\":\"C5\",\"variable\":\"R4\",\"value\":304},{\"group\":\"C5\",\"variable\":\"R5\",\"value\":314},{\"group\":\"C5\",\"variable\":\"R6\",\"value\":332},{\"group\":\"C5\",\"variable\":\"R7\",\"value\":84},{\"group\":\"C5\",\"variable\":\"R8\",\"value\":309},{\"group\":\"C6\",\"variable\":\"R1\",\"value\":174},{\"group\":\"C6\",\"variable\":\"R2\",\"value\":10},{\"group\":\"C6\",\"variable\":\"R3\",\"value\":168},{\"group\":\"C6\",\"variable\":\"R4\",\"value\":342},{\"group\":\"C6\",\"variable\":\"R5\",\"value\":306},{\"group\":\"C6\",\"variable\":\"R6\",\"value\":282},{\"group\":\"C6\",\"variable\":\"R7\",\"value\":99},{\"group\":\"C6\",\"variable\":\"R8\",\"value\":96},{\"group\":\"C7\",\"variable\":\"R1\",\"value\":326},{\"group\":\"C7\",\"variable\":\"R2\",\"value\":334},{\"group\":\"C7\",\"variable\":\"R3\",\"value\":6},{\"group\":\"C7\",\"variable\":\"R4\",\"value\":305},{\"group\":\"C7\",\"variable\":\"R5\",\"value\":125},{\"group\":\"C7\",\"variable\":\"R6\",\"value\":251},{\"group\":\"C7\",\"variable\":\"R7\",\"value\":35},{\"group\":\"C7\",\"variable\":\"R8\",\"value\":321},{\"group\":\"C8\",\"variable\":\"R1\",\"value\":166},{\"group\":\"C8\",\"variable\":\"R2\",\"value\":212},{\"group\":\"C8\",\"variable\":\"R3\",\"value\":349},{\"group\":\"C8\",\"variable\":\"R4\",\"value\":224},{\"group\":\"C8\",\"variable\":\"R5\",\"value\":96},{\"group\":\"C8\",\"variable\":\"R6\",\"value\":259},{\"group\":\"C8\",\"variable\":\"R7\",\"value\":120},{\"group\":\"C8\",\"variable\":\"R8\",\"value\":-1}]\n//mvkdata=[{\"group\":\"C1\",\"variable\":\"R1\",\"value\":0},{\"group\":\"C2\",\"variable\":\"R1\",\"value\":0},{\"group\":\"C3\",\"variable\":\"R1\",\"value\":0},{\"group\":\"C4\",\"variable\":\"R1\",\"value\":0},{\"group\":\"C5\",\"variable\":\"R1\",\"value\":0},{\"group\":\"C6\",\"variable\":\"R1\",\"value\":0},{\"group\":\"C1\",\"variable\":\"R2\",\"value\":0},{\"group\":\"C2\",\"variable\":\"R2\",\"value\":0},{\"group\":\"C3\",\"variable\":\"R2\",\"value\":0},{\"group\":\"C4\",\"variable\":\"R2\",\"value\":0},{\"group\":\"C5\",\"variable\":\"R2\",\"value\":0},{\"group\":\"C6\",\"variable\":\"R2\",\"value\":0},{\"group\":\"C1\",\"variable\":\"R3\",\"value\":0},{\"group\":\"C2\",\"variable\":\"R3\",\"value\":0},{\"group\":\"C3\",\"variable\":\"R3\",\"value\":0},{\"group\":\"C4\",\"variable\":\"R3\",\"value\":0},{\"group\":\"C5\",\"variable\":\"R3\",\"value\":0},{\"group\":\"C6\",\"variable\":\"R3\",\"value\":0}]\n\n//console.log(mvkdata)\n//Read the data\n\nfunction myplot(data)\n{\n//d3.csv(\"https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/heatmap_data.csv\", function(data) {\n//console.log(data)\n  // create a tooltip\n  /*\n  var tooltip = d3.select(\"#my_dataviz\")\n    .append(\"div\")\n    .style(\"opacity\", 0)\n    .attr(\"class\", \"tooltip\")\n    .style(\"background-color\", \"white\")\n    .style(\"border\", \"solid\")\n    .style(\"border-width\", \"2px\")\n    .style(\"border-radius\", \"5px\")\n    .style(\"padding\", \"5px\")\n*/\n  // Three function that change the tooltip when user hover / move / leave a cell\n  var mouseover = function(d) {\n    tooltip.style(\"opacity\", 1)\n  }\n  var mousemove = function(d) {\n    tooltip\n      .html(\"The exact value of<br>this cell is: \" + d.value)\n      .style(\"left\", \"10px\")\n      .style(\"top\", \"10px\")\n      //.style(\"left\", (d3.mouse(this)[0]+70) + \"px\")\n     // .style(\"top\", (d3.mouse(this)[1]) + \"px\")\n  }\n  var mouseleave = function(d) {\n    tooltip.style(\"opacity\", 0)\n  }\n\n  // add the squares\n  svg.selectAll()\n    .data(data, function(d) {return d.group+':'+d.variable;})\n    .enter()\n    .append(\"rect\")\n      .attr(\"x\", function(d) { return x(d.group) })\n      .attr(\"y\", function(d) { return y(d.variable) })\n      .attr(\"width\", x.bandwidth() )\n      .attr(\"height\", y.bandwidth() )\n      .style(\"fill\", function(d) { return myColor(d.value)} )\n      .append(\"text\")\n      .text(function(d){\n        return d.value;\n      })\n      .attr(\"y\", 20)\n      .style(\"font-family\", \"arial\")\n      .style(\"font-size\", \"8pt\")\n      \n    .on(\"mouseover\", mouseover)\n    .on(\"mousemove\", mousemove)\n    .on(\"mouseleave\", mouseleave)\n//})\n  svg.selectAll()\n    .data(data, function(d) {return d.group+':'+d.variable;})\n    .enter()\n\n     .append(\"text\")  \n           .attr(\"x\", function(d) { return x(d.group)+20 })\n      .attr(\"y\", function(d) { return y(d.variable)+30 })\n      .style(\"fill\", \"black\")\n      .style(\"font-size\", \"14px\")\n      .text( function(d) { return d.value} )\n      \n}\nmyplot(mvkdata)\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1220,"y":680,"wires":[[]]},{"id":"c658a6ef.b53e08","type":"debug","z":"ba40758d.fdf688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":990,"y":720,"wires":[]},{"id":"a7ceb426.867a38","type":"ui_button","z":"ba40758d.fdf688","name":"","group":"ac55a138.0440a","order":1,"width":0,"height":0,"passthru":false,"label":"SimulateData","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":600,"wires":[["d96449c5.98d938","88f30c40.f2eae"]]},{"id":"5b711168.ecc4f","type":"debug","z":"ba40758d.fdf688","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":230,"y":20,"wires":[]},{"id":"bf011fa9.0ddca","type":"comment","z":"ba40758d.fdf688","name":"Right Hand data","info":"015,005,005,004,003,009,005,003,007,004,004,003,001,009,005,002,006,004,005,003,001,013,004,001,005,003,004,003,001,011,004,001,007,004,005,003,002,012,004,002,005,004,005,003,001,010,003,001,006,004,005,003,001,009,003,001,006,004,004,003,001,010,003,001,#\n014,003,006,003,003,006,003,002,008,001,005,002,003,008,001,001,006,001,004,002,003,009,001,001,007,001,004,001,002,007,001,001,008,002,007,003,004,010,003,002,007,001,005,001,003,008,001,001,007,001,006,002,003,006,001,001,006,001,005,002,003,008,002,001,#\n010,018,012,013,017,013,014,003,008,020,012,015,019,018,016,002,016,050,022,027,050,060,031,009,017,100,026,032,054,041,048,006,016,130,028,045,060,036,042,003,018,177,036,047,088,038,044,001,014,046,031,102,043,028,029,000,008,013,011,012,013,015,012,000,#\n012,019,018,019,017,017,017,003,010,027,024,026,027,023,022,003,019,066,048,054,066,079,045,009,020,121,063,077,078,059,080,005,022,194,101,191,108,054,063,003,019,251,116,131,157,056,067,001,016,111,134,185,088,045,050,000,010,021,016,017,016,014,019,000,#\n011,019,018,018,018,017,017,002,010,026,024,026,027,022,022,003,018,069,057,059,073,083,050,010,020,123,080,087,086,062,099,005,020,207,139,221,121,055,074,003,018,268,165,160,172,060,081,000,015,144,194,227,110,050,064,000,007,017,017,018,017,012,019,000,#\n013,019,018,017,018,017,017,002,010,028,026,027,029,022,024,003,019,074,063,065,074,083,054,010,020,129,090,094,090,062,104,005,020,215,159,243,127,057,079,003,018,276,201,175,180,062,086,000,016,159,215,245,120,053,069,000,010,022,022,021,019,015,018,000,#\n012,019,019,019,019,017,017,003,010,029,027,028,029,024,025,003,019,076,066,067,080,085,056,010,022,132,094,097,092,064,110,005,022,224,169,248,130,059,082,003,018,283,210,182,181,064,089,000,017,167,226,250,124,054,073,000,008,020,022,022,022,017,023,000,#\n013,019,018,019,017,017,018,003,011,029,027,028,027,024,025,003,019,076,066,065,078,085,055,010,021,132,093,096,091,065,109,005,022,225,167,247,127,059,081,003,019,282,203,178,174,062,087,000,017,163,214,246,119,054,071,000,009,019,020,020,019,016,020,000,#\n012,019,019,019,019,016,019,003,012,030,027,028,029,025,025,003,019,072,055,060,067,084,054,009,021,130,081,090,087,064,108,006,022,211,130,209,117,057,078,003,019,277,153,149,164,061,086,000,016,141,169,219,102,050,065,000,008,018,017,019,017,015,019,000,#\n012,017,015,017,017,015,015,002,010,024,016,020,022,018,018,002,017,057,035,038,052,060,032,006,019,115,047,052,061,049,058,005,019,173,063,085,073,040,047,003,018,248,080,078,109,046,055,001,015,083,073,158,060,033,035,000,007,016,014,015,013,015,012,000,#\n009,015,007,008,006,007,006,002,007,015,007,009,006,008,007,001,006,017,008,010,006,010,008,001,008,021,008,012,006,013,015,001,008,037,010,012,009,011,011,001,015,134,022,022,017,019,017,004,009,026,012,057,012,010,010,000,006,013,006,008,006,006,006,000,#\n010,005,005,004,003,006,001,001,006,003,003,002,003,006,001,000,005,003,003,003,003,010,001,000,005,003,003,001,002,008,002,000,006,003,003,002,003,006,001,000,005,003,003,002,002,005,001,000,005,003,003,002,002,006,002,000,004,003,003,001,002,006,001,000,#\n","x":1460,"y":840,"wires":[]},{"id":"3ac56806.cc6b08","type":"comment","z":"ba40758d.fdf688","name":"Left Hand","info":"017,006,006,006,005,009,004,002,008,005,004,004,004,010,002,001,008,006,005,005,004,013,002,001,010,006,006,005,005,012,002,000,009,006,006,006,006,012,003,001,008,005,005,005,003,008,002,000,008,006,005,003,005,009,002,000,008,006,005,005,005,012,002,000,#\n010,001,004,004,006,006,001,001,005,002,005,004,010,007,003,001,004,001,004,003,005,004,001,000,004,001,006,002,006,007,003,000,004,001,005,004,005,006,001,000,004,001,003,002,005,006,001,000,004,001,003,002,005,005,001,000,004,001,005,003,005,006,001,000,#\n010,006,012,005,010,010,009,002,010,010,020,012,043,015,014,006,006,007,020,008,015,013,013,002,005,005,018,006,011,012,012,000,007,006,025,008,012,013,012,001,006,005,015,007,012,029,013,000,006,005,010,006,010,008,009,000,006,005,013,005,010,011,009,000,#\n010,005,016,009,012,012,013,003,013,015,034,041,081,024,027,011,010,009,071,019,031,027,039,005,006,003,027,011,015,018,024,000,010,008,104,017,024,027,054,002,008,006,034,016,021,091,027,000,006,003,017,010,012,010,013,000,005,003,017,010,012,015,013,000,#\n007,006,017,015,016,015,016,003,024,024,116,099,141,046,058,019,012,015,179,059,119,048,066,005,006,010,058,031,044,033,042,000,009,012,163,050,072,050,100,000,008,012,062,039,050,167,047,000,005,006,013,012,017,015,012,000,005,007,014,012,018,013,013,000,#\n007,017,019,015,018,016,017,002,028,045,144,138,174,061,074,022,012,053,212,080,148,066,092,004,007,033,100,055,073,047,065,000,009,038,180,065,090,067,144,000,008,034,082,053,065,196,064,000,005,014,018,012,017,012,015,000,005,010,018,016,013,014,013,000,#\n006,019,021,019,020,017,019,003,030,067,184,172,192,067,087,024,012,099,242,107,164,073,106,004,008,054,136,095,103,058,081,000,010,061,175,081,099,073,170,001,009,050,091,064,070,206,073,000,005,015,012,017,018,012,019,000,005,012,019,017,017,017,017,000,#\n008,018,021,020,021,018,019,003,031,078,191,190,202,070,095,025,013,118,254,127,175,079,116,005,010,070,162,144,127,064,088,001,011,073,183,095,109,076,184,000,010,059,100,069,076,211,076,000,005,011,018,012,017,012,012,000,006,012,018,017,012,013,017,000,#\n008,019,020,020,020,019,020,003,031,082,195,201,209,070,100,027,013,123,257,134,182,080,122,006,010,076,169,163,135,066,097,003,010,074,185,101,112,076,197,001,011,059,100,073,078,209,078,001,005,012,012,018,012,012,012,000,005,015,018,017,013,017,017,001,#\n008,020,024,022,022,019,020,002,032,081,200,209,212,073,101,026,014,121,256,140,184,081,123,005,010,075,176,172,137,068,097,001,010,075,188,104,113,078,191,001,010,058,103,075,080,207,081,001,005,012,012,012,018,012,012,000,006,017,019,018,018,017,019,000,#\n008,020,022,020,021,018,020,003,033,080,196,206,208,071,097,025,015,120,245,138,181,078,116,005,012,073,171,172,137,065,094,002,012,073,186,103,111,075,184,001,011,058,101,074,079,201,076,000,005,012,013,018,012,012,018,001,006,017,019,019,017,013,018,000,#\n008,022,025,024,023,020,021,003,033,081,203,209,212,073,099,025,014,121,252,140,183,082,119,005,010,074,176,170,139,068,095,001,012,074,193,106,115,078,187,001,011,060,106,074,080,203,080,000,005,012,012,013,019,012,018,000,006,013,019,014,014,018,018,000,#\n009,022,025,024,024,020,022,003,033,083,205,210,208,070,101,026,015,121,250,138,181,078,121,005,010,074,174,159,133,064,095,001,012,074,188,104,110,073,191,001,010,059,102,074,076,198,076,001,006,012,012,019,018,012,012,000,006,017,019,013,018,017,013,001,#\n008,022,027,025,026,021,024,004,034,075,205,210,210,073,102,024,014,108,243,135,177,080,123,005,010,066,167,149,128,064,093,002,013,067,186,102,111,074,198,002,012,054,107,074,078,202,078,001,006,011,012,012,012,012,012,000,006,013,017,019,019,019,019,000,#\n011,021,027,026,027,022,024,004,034,066,186,204,203,072,098,024,015,090,231,123,167,079,123,005,011,057,153,122,115,062,088,001,013,060,193,095,107,076,199,001,012,050,106,072,078,202,080,000,006,012,012,019,012,012,019,000,005,017,020,014,019,017,015,000,#\n011,015,024,022,023,020,023,004,033,041,153,182,196,068,093,026,015,037,206,099,155,075,128,004,010,026,107,072,083,050,071,001,013,031,193,078,099,073,202,003,012,028,104,063,073,189,079,001,006,012,019,013,019,012,013,000,006,012,020,013,014,019,015,000,#\n006,008,017,015,016,015,016,002,027,029,076,125,162,049,063,020,010,017,128,054,089,056,107,003,006,010,038,025,029,027,034,000,011,017,167,045,058,061,186,001,010,015,104,041,052,155,071,000,005,007,018,012,016,012,012,000,006,007,019,015,017,015,015,000,#\n006,003,011,007,009,013,013,001,019,015,028,024,102,029,029,009,008,006,021,012,021,031,088,005,005,001,015,007,010,016,024,000,011,007,030,016,025,033,186,003,006,003,025,010,016,092,040,000,005,001,012,006,010,012,015,000,005,001,013,006,011,016,013,000,#\n008,002,006,003,002,008,011,002,005,002,005,002,002,008,012,001,012,008,011,006,006,013,036,004,005,002,006,002,003,007,015,001,010,005,009,006,005,012,052,004,005,001,005,002,003,012,017,000,005,002,005,001,002,008,012,000,005,001,005,001,003,010,013,000,#\n008,003,005,003,003,006,004,001,005,001,005,001,003,007,003,000,004,001,005,002,003,008,004,000,005,002,006,002,003,009,005,000,006,002,006,003,004,010,005,001,005,001,005,001,003,008,003,000,005,001,006,002,003,007,003,000,005,002,006,002,003,008,004,000,#\n","x":1440,"y":880,"wires":[]},{"id":"4e226310.ede89c","type":"ui_text","z":"ba40758d.fdf688","group":"42d8293f.417478","order":1,"width":0,"height":0,"name":"","label":"SENSOR(Row/Cols)","format":"{{msg.payloadold}}","layout":"row-spread","x":820,"y":320,"wires":[]},{"id":"c281df97.bac67","type":"function","z":"ba40758d.fdf688","name":"SET SENSOR Config","func":"msg.sensorrows=msg.payloadold.substring(7,8)\nmsg.sensorcols=msg.payloadold.substring(9,10)\nglobal.set(\"sensorrows\",parseInt(msg.sensorrows))\nglobal.set(\"sensorcols\",parseInt(msg.sensorcols))\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":300,"wires":[["f72d75ea.7a2098"]]},{"id":"f72d75ea.7a2098","type":"debug","z":"ba40758d.fdf688","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1050,"y":340,"wires":[]},{"id":"cb8245c.b964eb8","type":"comment","z":"ba40758d.fdf688","name":"FABIRC Infos Example","info":"VERSION=ST1-03242020-1500\n\nDEVICEID=ST1W0004\n\nDEVICETYPE=NANO328BT8x8\n\nSPEED=16\n\nTHRESHOLD=6\n\nMYLOOPS=915762\n\nFORMAT=PRETTY\n\nFILIPPED=1\n\nNOISELEVEL=30\n\nCABELORIENTATION=10\n\nSROUCE=USB\n\nUniqueID: 58 37 30 34 39 37 0B 26 17\n\nSENSOR=8x8","x":800,"y":40,"wires":[]},{"id":"e3161cb0.a96bf","type":"ui_text","z":"ba40758d.fdf688","group":"42d8293f.417478","order":1,"width":0,"height":0,"name":"","label":"SPEED","format":"{{msg.payload[1]}}","layout":"row-spread","x":1000,"y":40,"wires":[]},{"id":"f27ef0a8.589ef","type":"ui_button","z":"ba40758d.fdf688","name":"","group":"ac55a138.0440a","order":1,"width":0,"height":0,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1070,"y":880,"wires":[["4b2dff78.f2f05"]]},{"id":"4b2dff78.f2f05","type":"function","z":"ba40758d.fdf688","name":"Emty Data","func":"msg.payload=\n[\n  {\n    \"group\": \"C1\",\n    \"value\": 0,\n    \"variable\": \"R1\"\n  },\n  {\n    \"group\": \"C2\",\n    \"value\": 0,\n    \"variable\": \"R1\"\n  },\n  {\n    \"group\": \"C4\",\n    \"value\": 0,\n    \"variable\": \"R1\"\n  },\n  {\n    \"group\": \"C5\",\n    \"value\": 0,\n    \"variable\": \"R1\"\n  },\n  {\n    \"group\": \"C6\",\n    \"value\": 0,\n    \"variable\": \"R1\"\n  },\n  {\n    \"group\": \"C7\",\n    \"value\": 0,\n    \"variable\": \"R1\"\n  },\n  {\n    \"group\": \"C8\",\n    \"value\": 0,\n    \"variable\": \"R1\"\n  },\n  {\n    \"group\": \"C1\",\n    \"value\": 0,\n    \"variable\": \"R2\"\n  },\n  {\n    \"group\": \"C2\",\n    \"value\": 0,\n    \"variable\": \"R2\"\n  },\n  {\n    \"group\": \"C3\",\n    \"value\": 0,\n    \"variable\": \"R2\"\n  },\n  {\n    \"group\": \"C4\",\n    \"value\": 0,\n    \"variable\": \"R2\"\n  },\n  {\n    \"group\": \"C5\",\n    \"value\": 0,\n    \"variable\": \"R2\"\n  },\n  {\n    \"group\": \"C6\",\n    \"value\": 0,\n    \"variable\": \"R2\"\n  },\n  {\n    \"group\": \"C7\",\n    \"value\": 0,\n    \"variable\": \"R2\"\n  },\n  {\n    \"group\": \"C8\",\n    \"value\": 0,\n    \"variable\": \"R2\"\n  },\n  {\n    \"group\": \"C1\",\n    \"value\": 0,\n    \"variable\": \"R3\"\n  },\n  {\n    \"group\": \"C2\",\n    \"value\": 0,\n    \"variable\": \"R3\"\n  },\n  {\n    \"group\": \"C3\",\n    \"value\": 0,\n    \"variable\": \"R3\"\n  },\n  {\n    \"group\": \"C4\",\n    \"value\": 0,\n    \"variable\": \"R3\"\n  },\n  {\n    \"group\": \"C5\",\n    \"value\": 0,\n    \"variable\": \"R3\"\n  },\n  {\n    \"group\": \"C6\",\n    \"value\": 0,\n    \"variable\": \"R3\"\n  },\n  {\n    \"group\": \"C7\",\n    \"value\": 0,\n    \"variable\": \"R3\"\n  },\n  {\n    \"group\": \"C8\",\n    \"value\": 0,\n    \"variable\": \"R3\"\n  },\n  {\n    \"group\": \"C1\",\n    \"value\": 0,\n    \"variable\": \"R4\"\n  },\n  {\n    \"group\": \"C2\",\n    \"value\": 0,\n    \"variable\": \"R4\"\n  },\n  {\n    \"group\": \"C3\",\n    \"value\": 0,\n    \"variable\": \"R4\"\n  },\n  {\n    \"group\": \"C4\",\n    \"value\": 0,\n    \"variable\": \"R4\"\n  },\n  {\n    \"group\": \"C5\",\n    \"value\": 0,\n    \"variable\": \"R4\"\n  },\n  {\n    \"group\": \"C6\",\n    \"value\": 0,\n    \"variable\": \"R4\"\n  },\n  {\n    \"group\": \"C7\",\n    \"value\": 0,\n    \"variable\": \"R4\"\n  },\n  {\n    \"group\": \"C8\",\n    \"value\": 0,\n    \"variable\": \"R4\"\n  },\n  {\n    \"group\": \"C1\",\n    \"value\": 0,\n    \"variable\": \"R5\"\n  },\n  {\n    \"group\": \"C2\",\n    \"value\": 0,\n    \"variable\": \"R5\"\n  },\n  {\n    \"group\": \"C3\",\n    \"value\": 0,\n    \"variable\": \"R5\"\n  },\n  {\n    \"group\": \"C4\",\n    \"value\": 0,\n    \"variable\": \"R5\"\n  },\n  {\n    \"group\": \"C5\",\n    \"value\": 0,\n    \"variable\": \"R5\"\n  },\n  {\n    \"group\": \"C6\",\n    \"value\": 0,\n    \"variable\": \"R5\"\n  },\n  {\n    \"group\": \"C7\",\n    \"value\": 0,\n    \"variable\": \"R5\"\n  },\n  {\n    \"group\": \"C8\",\n    \"value\": 0,\n    \"variable\": \"R5\"\n  },\n  {\n    \"group\": \"C1\",\n    \"value\": 0,\n    \"variable\": \"R6\"\n  },\n  {\n    \"group\": \"C2\",\n    \"value\": 0,\n    \"variable\": \"R6\"\n  },\n  {\n    \"group\": \"C3\",\n    \"value\": 0,\n    \"variable\": \"R6\"\n  },\n  {\n    \"group\": \"C4\",\n    \"value\": 0,\n    \"variable\": \"R6\"\n  },\n  {\n    \"group\": \"C5\",\n    \"value\": 0,\n    \"variable\": \"R6\"\n  },\n  {\n    \"group\": \"C6\",\n    \"value\": 0,\n    \"variable\": \"R6\"\n  },\n  {\n    \"group\": \"C7\",\n    \"value\": 0,\n    \"variable\": \"R6\"\n  },\n  {\n    \"group\": \"C8\",\n    \"value\": 0,\n    \"variable\": \"R6\"\n  },\n  {\n    \"group\": \"C1\",\n    \"value\": 0,\n    \"variable\": \"R7\"\n  },\n  {\n    \"group\": \"C2\",\n    \"value\": 0,\n    \"variable\": \"R7\"\n  },\n  {\n    \"group\": \"C3\",\n    \"value\": 0,\n    \"variable\": \"R7\"\n  },\n  {\n    \"group\": \"C4\",\n    \"value\": 0,\n    \"variable\": \"R7\"\n  },\n  {\n    \"group\": \"C5\",\n    \"value\": 0,\n    \"variable\": \"R7\"\n  },\n  {\n    \"group\": \"C6\",\n    \"value\": 0,\n    \"variable\": \"R7\"\n  },\n  {\n    \"group\": \"C7\",\n    \"value\": 0,\n    \"variable\": \"R7\"\n  },\n  {\n    \"group\": \"C8\",\n    \"value\": 0,\n    \"variable\": \"R7\"\n  },\n  {\n    \"group\": \"C1\",\n    \"value\": 0,\n    \"variable\": \"R8\"\n  },\n  {\n    \"group\": \"C2\",\n    \"value\": 0,\n    \"variable\": \"R8\"\n  },\n  {\n    \"group\": \"C3\",\n    \"value\": 0,\n    \"variable\": \"R8\"\n  },\n  {\n    \"group\": \"C4\",\n    \"value\": 0,\n    \"variable\": \"R8\"\n  },\n  {\n    \"group\": \"C5\",\n    \"value\": 0,\n    \"variable\": \"R8\"\n  },\n  {\n    \"group\": \"C6\",\n    \"value\": 0,\n    \"variable\": \"R8\"\n  },\n  {\n    \"group\": \"C7\",\n    \"value\": 0,\n    \"variable\": \"R8\"\n  },\n  {\n    \"group\": \"C8\",\n    \"value\": 0,\n    \"variable\": \"R8\"\n  }\n]\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":940,"wires":[["c36459b3.36e8b8"]]},{"id":"74fa779b.dd4f68","type":"inject","z":"ba40758d.fdf688","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1080,"y":840,"wires":[["f27ef0a8.589ef"]]},{"id":"c3496868.1b1cc8","type":"ui_text","z":"ba40758d.fdf688","group":"42d8293f.417478","order":1,"width":0,"height":0,"name":"","label":"FLIPPED","format":"{{msg.payload[1]}}","layout":"row-spread","x":760,"y":360,"wires":[]},{"id":"d8d491c.e22af7","type":"ui_text","z":"ba40758d.fdf688","group":"42d8293f.417478","order":1,"width":0,"height":0,"name":"","label":"SENSITIVITY","format":"{{msg.payload[1]}}","layout":"row-spread","x":1470,"y":40,"wires":[]},{"id":"bd5966b1.80c1f8","type":"ui_text","z":"ba40758d.fdf688","group":"42d8293f.417478","order":1,"width":0,"height":0,"name":"","label":"CABELORIENTATION (0=BottomLeft,1=TopLeft,2=TopRight, +10=Flipped)","format":"{{msg.payload[1]}}","layout":"row-spread","x":960,"y":400,"wires":[]},{"id":"51ceb273.d340dc","type":"ui_text","z":"ba40758d.fdf688","group":"42d8293f.417478","order":1,"width":0,"height":0,"name":"","label":"NOISELEVEL","format":"{{msg.payload[1]}}","layout":"row-spread","x":770,"y":440,"wires":[]},{"id":"2bb52e93.300dd2","type":"ui_slider","z":"ba40758d.fdf688","name":"","label":"Sensitivity 0-50","tooltip":"","group":"42d8293f.417478","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"Sensitivity","min":0,"max":"50","step":1,"x":1680,"y":80,"wires":[["82203895.8667d8","f39b9230.308be"]]},{"id":"82203895.8667d8","type":"debug","z":"ba40758d.fdf688","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1930,"y":80,"wires":[]},{"id":"f39b9230.308be","type":"function","z":"ba40758d.fdf688","name":"Set Sensivity","func":"msg.payload=\"threshold=\"+msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":140,"wires":[["494ceac5.cba564"]]},{"id":"494ceac5.cba564","type":"serial out","z":"ba40758d.fdf688","name":"Change NoiseLevel/Gitter ","serial":"bb3e1ffa.bc1ca","x":2090,"y":440,"wires":[]},{"id":"4e2fa8d9.66a568","type":"function","z":"ba40758d.fdf688","name":"Set Sensivity","func":"msg.payload=\"noiselevel=\"+msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":440,"wires":[["494ceac5.cba564"]]},{"id":"74a708e8.13eba8","type":"function","z":"ba40758d.fdf688","name":"NoiseLevel","func":"//CR removal\n//msg.payload[1] = msg.payload[1].substring(0, msg.payload[1].length - 1);\nglobal.set(\"noiselevel\",msg.payload[1])\nmsg.payload=msg.payload[1]\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":440,"wires":[["cb4a6c29.7f82e"]]},{"id":"cb4a6c29.7f82e","type":"ui_slider","z":"ba40758d.fdf688","name":"","label":"NoiseLevel 0-50","tooltip":"","group":"42d8293f.417478","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"Sensitivity","min":0,"max":"50","step":1,"x":1160,"y":440,"wires":[["4e2fa8d9.66a568"]]},{"id":"dce35d93.671af","type":"ui_text","z":"ba40758d.fdf688","group":"42d8293f.417478","order":1,"width":0,"height":0,"name":"","label":"Time","format":"{{msg.time}}","layout":"row-spread","x":1390,"y":20,"wires":[]},{"id":"30b18f2a.043a9","type":"ui_dropdown","z":"ba40758d.fdf688","name":"","label":"Change Orientatio ","tooltip":"","place":"Select option","group":"42d8293f.417478","order":12,"width":0,"height":0,"passthru":true,"options":[{"label":"topleft","value":"topleft","type":"str"},{"label":"bottomleft","value":"bottomleft","type":"str"},{"label":"flip","value":"flip","type":"str"},{"label":"topright","value":"topright","type":"str"},{"label":"bottomright","value":"bottomright","type":"str"},{"label":"flipagain","value":"flip","type":"str"}],"payload":"","topic":"","x":650,"y":780,"wires":[["9bd0e29e.f932f","d9808e90.bd7fc"]]},{"id":"9bd0e29e.f932f","type":"debug","z":"ba40758d.fdf688","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":820,"wires":[]},{"id":"ea189358.ad947","type":"function","z":"ba40758d.fdf688","name":"NoiseLevel","func":"//BYTE7 = SHEET ORIENTATION ... 0=BOTTOMLEFT,1=TOPLEFT,2=BOTTOMRIGHT,3=TOPRIGHT\n//flipped + 10 \nmsg.payload=\"bottomleft\"\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":740,"wires":[["30b18f2a.043a9"]]},{"id":"e1cea5c0.a6bb08","type":"inject","z":"ba40758d.fdf688","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":700,"wires":[["ea189358.ad947"]]},{"id":"d9808e90.bd7fc","type":"serial out","z":"ba40758d.fdf688","name":"Change Sensitivty ","serial":"bb3e1ffa.bc1ca","x":670,"y":860,"wires":[]},{"id":"37903d9b.d6b462","type":"ui_button","z":"ba40758d.fdf688","name":"","group":"42d8293f.417478","order":3,"width":0,"height":0,"passthru":false,"label":"Reboot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"reboot","payloadType":"str","topic":"","x":490,"y":940,"wires":[["d9808e90.bd7fc","9bd0e29e.f932f"]]},{"id":"51fe18c7.e40578","type":"comment","z":"ba40758d.fdf688","name":"Note: Commands only work via USB","info":"","x":600,"y":640,"wires":[]},{"id":"3e81892c.64c866","type":"serial-port","z":"","serialport":"/dev/tty.usbserial-143320","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"42d8293f.417478","type":"ui_group","z":"","name":"Fabric","tab":"6ca7d008.ef003","disp":true,"width":"6","collapse":false},{"id":"a9df4ff8.03056","type":"ui_group","z":"","name":"ST1LabsChart","tab":"2a2d6921.86c926","disp":true,"width":"20","collapse":false},{"id":"4ab36855.6cdc58","type":"ui_group","z":"","name":"St1Labs","tab":"13aa00a4.0d7d6f","order":1,"disp":true,"width":"6","collapse":false},{"id":"ac55a138.0440a","type":"ui_group","z":"","name":"ST1HeatMapTab","tab":"6ca7d008.ef003","order":2,"disp":false,"width":"20","collapse":false},{"id":"bb3e1ffa.bc1ca","type":"serial-port","z":"","serialport":"/dev/tty.usbserial-143320","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"6ca7d008.ef003","type":"ui_tab","z":"","name":"ST1HeatMap","icon":"fa-map","disabled":false,"hidden":false},{"id":"2a2d6921.86c926","type":"ui_tab","z":"","name":"ST1LabsChat","icon":"dashboard","disabled":false,"hidden":false},{"id":"13aa00a4.0d7d6f","type":"ui_tab","z":"","name":"ST1Labs","icon":"dashboard","disabled":false,"hidden":false}]
