SDK-Examples/node-red/heapmap.flow
[{"id":"ba40758d.fdf688","type":"tab","label":"ST1","disabled":false,"info":""},{"id":"1926a2e8.fa335d","type":"serial in","z":"ba40758d.fdf688","name":"","serial":"bb3e1ffa.bc1ca","x":150,"y":140,"wires":[["a04b7ae3.b4e408","5b711168.ecc4f"]]},{"id":"49e18f34.6bc8a","type":"debug","z":"ba40758d.fdf688","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":240,"wires":[]},{"id":"33a9e6c7.aa1cea","type":"function","z":"ba40758d.fdf688","name":"","func":"//CR removal\nmsg.payload = msg.payload.substring(0, msg.payload.length - 2);\n\nif( msg.payload.length > 40 && msg.payload.length <260 )\n{\nglobal.set(\"Objectsize\",Object.keys(msg).length);\nmsgcount=global.get(\"msgcount\")||0;\nmsgcount++\nglobal.set(\"msgcount\",msgcount);\n  global.set(\"lastpayload\",msg.payload)\n    msg.values = msg.payload.split(\",\")\n    \n    \n    \n    msg.values[msg.values.length-1] = \"-1\"; // remove #\n   // for (a in  msg.values ) {\n   //  msg.values[a] = parseInt( msg.values[a], 10); // Explicitly include base as per Álvaro's comment\n//}\n    global.set(\"lastpayloadvalues\",msg.values)\n  //  msg.sheet = msg.values\n    msg.max  =Math.max.apply(Math, msg.values)\n      global.set(\"MaxValue\",msg.max )\n    delete msg.port\n    msg.size = msg.payload.length\n    return msg;\n}","outputs":1,"noerr":0,"x":390,"y":300,"wires":[["49e18f34.6bc8a","2d683344.f6cddc","3cca51b3.b3228e","68525b9e.b2f564","2eabaf50.be957","c7a4db5d.39b788","ebad64b2.f91a68"]]},{"id":"f61ea918.b7dcd8","type":"comment","z":"ba40758d.fdf688","name":"","info":"str = \"010,006,006,006,006,006,005,006,005,005,006,005,005,005,005,005,005,005,006,006,006,005,005,006,006,006,006,006,006,006,006,006,006,006,005,005,005,005,005,005,005,005,005,005,005,005,005,005,005,005,005,005,005,005,004,005,005,005,005,005,004,004,004,004,#\"\n\n","x":100,"y":100,"wires":[]},{"id":"90ee28ab.211cf8","type":"function","z":"ba40758d.fdf688","name":"","func":" msg.size = msg.payload.length\n if( msg.payload.length < 200)\n{\n    delete msg.port\n    delete msg._msgid\n    msg.size = msg.payload.length\n    return msg;\n}else{\n  //  return msg;\n}","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["7f2ff434.3f5dbc","7a0ef2fe.8c87fc"]]},{"id":"7f2ff434.3f5dbc","type":"debug","z":"ba40758d.fdf688","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":200,"wires":[]},{"id":"7a224f2c.4da64","type":"debug","z":"ba40758d.fdf688","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":120,"wires":[]},{"id":"7a0ef2fe.8c87fc","type":"function","z":"ba40758d.fdf688","name":"","func":"msg.payload=msg.payload.split(\"=\")\na=parseInt(msg.payload[1])\nif (!isNaN(a)) \nmsg.payload[1]=a\nreturn msg","outputs":1,"noerr":0,"x":410,"y":120,"wires":[["7a224f2c.4da64","fb3c3bf6.25d018"]]},{"id":"fb3c3bf6.25d018","type":"switch","z":"ba40758d.fdf688","name":"","property":"payload[0]","propertyType":"msg","rules":[{"t":"cont","v":"VERSION","vt":"str"},{"t":"cont","v":"SPEED","vt":"str"},{"t":"cont","v":"THRESHOLD","vt":"str"},{"t":"cont","v":"MYLOOPS","vt":"str"},{"t":"cont","v":"DEVICEID","vt":"str"},{"t":"cont","v":"DEVICETYPE","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":730,"y":60,"wires":[["b685a86f.b7bdd8","f1b3586b.8c82d8"],["8c38bd83.75d91","9905aa8e.96aa88"],["9346172c.3e38d8","7d85c329.480ebc"],["342d274.fc72ed8","3256d2.08ee392e"],["a0558738.5d6e08","9228f5af.00c208"],["e5342593.460328","1b75bed9.b734d1"]]},{"id":"b685a86f.b7bdd8","type":"ui_text","z":"ba40758d.fdf688","group":"4ab36855.6cdc58","order":1,"width":0,"height":0,"name":"","label":"Version","format":"{{msg.payload[1]}}","layout":"row-spread","x":980,"y":20,"wires":[]},{"id":"8c38bd83.75d91","type":"ui_gauge","z":"ba40758d.fdf688","name":"","group":"4ab36855.6cdc58","order":2,"width":0,"height":0,"gtype":"gage","title":"SPEED","label":"units","format":"{{msg.payload[1]}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":940,"y":100,"wires":[]},{"id":"342d274.fc72ed8","type":"ui_gauge","z":"ba40758d.fdf688","name":"","group":"4ab36855.6cdc58","order":3,"width":0,"height":0,"gtype":"gage","title":"MYLOOPS","label":"units","format":"{{msg.payload[1]}}","min":0,"max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":180,"wires":[]},{"id":"2d683344.f6cddc","type":"ui_gauge","z":"ba40758d.fdf688","name":"","group":"4ab36855.6cdc58","order":4,"width":0,"height":0,"gtype":"gage","title":"MaxValue","label":"units","format":"{{msg.max}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":360,"wires":[]},{"id":"3cca51b3.b3228e","type":"function","z":"ba40758d.fdf688","name":"Off set","func":"msg.values\nfor(i=0;i<8;i++)\n{\nmsg.values[i]=msg.values[i+8]\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":820,"wires":[[]]},{"id":"90185262.928c4","type":"function","z":"ba40758d.fdf688","name":"Off set","func":"msg.values\nfor(i=0;i<8;i++)\n{\nmsg.values[i]=msg.values[i+16]\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1160,"wires":[[]]},{"id":"68525b9e.b2f564","type":"function","z":"ba40758d.fdf688","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1220,"wires":[["90185262.928c4","13a4b0fe.fa82df"]]},{"id":"13a4b0fe.fa82df","type":"function","z":"ba40758d.fdf688","name":"Off set","func":"msg.values\nfor(i=0;i<8;i++)\n{\nmsg.values[i]=msg.values[i+24]\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1500,"wires":[[]]},{"id":"9346172c.3e38d8","type":"ui_gauge","z":"ba40758d.fdf688","name":"","group":"4ab36855.6cdc58","order":3,"width":0,"height":0,"gtype":"gage","title":"Threshold","label":"units","format":"{{msg.payload[1]}}","min":0,"max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":920,"y":140,"wires":[]},{"id":"21994911.33ac06","type":"ui_chart","z":"ba40758d.fdf688","name":"","group":"a9df4ff8.03056","order":0,"width":0,"height":0,"label":"Matrix","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"500","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1110,"y":300,"wires":[[]]},{"id":"ebad64b2.f91a68","type":"function","z":"ba40758d.fdf688","name":"","func":"\n\n\n for (a in  msg.values ) {\n   msg.values[a] = parseInt( msg.values[a], 10); // Explicitly include base as per Álvaro's comment\n}\n\nbigdata=[]\nmyd = \n    [{ \"x\": 0, \"y\": msg.values[0] },\n     { \"x\": 1, \"y\": msg.values[1]  },\n     { \"x\": 2, \"y\": msg.values[2]  },\n     { \"x\": 3, \"y\": msg.values[3]  },\n     { \"x\": 4, \"y\": msg.values[4]  },\n     { \"x\": 5, \"y\": msg.values[5]  },\n     { \"x\": 6, \"y\": msg.values[6]  },  \n     { \"x\": 7, \"y\": msg.values[7]  },\n    ]\no=0    \nfor (i=0;i<8;i++)\n{\n/*\n   node.warn(o)\n   for (aa in myd)\n   {\n    myd[aa].y=msg.values[aa+o]\n   }\n*/   \nmyd=[{ \"x\": 0, \"y\": msg.values[o] },\n     { \"x\": 1, \"y\": msg.values[1+o]  },\n     { \"x\": 2, \"y\": msg.values[2+o]  },\n     { \"x\": 3, \"y\": msg.values[3+o]  },\n     { \"x\": 4, \"y\": msg.values[4+o]  },\n     { \"x\": 5, \"y\": msg.values[5+o]  },\n     { \"x\": 6, \"y\": msg.values[6+o]  },  \n     { \"x\": 7, \"y\": msg.values[7+o]  },\n    ]\n    \n    \n   bigdata.push(myd)\n   \n  o=o+8\n}\nmsg.payload =msg.values;\nseries = [\"A\"]\ndata=  myd\nlabels = [\"A\"]\nmsg.payload = {series, data, labels};\nmsg.payload =[{\n\"series\": [\"Row1\",\"Row2\",\"Row3\",\"Row4\",\"Row5\",\"Row6\",\"Row7\",\"Row8\"],\n\"data\": bigdata,\n\"labels\": [\"Row1\",\"Row2\",\"Row3\",\"Row4\",\"Row5\",\"Row6\",\"Row7\",\"Row8\"],\n}]\n/*\n\"data1\": [\n    [{ \"x\": 0, \"y\": msg.values[0] },\n     { \"x\": 1, \"y\": msg.values[1]  },\n     { \"x\": 2, \"y\": msg.values[2]  },\n     { \"x\": 3, \"y\": msg.values[3]  },\n     { \"x\": 4, \"y\": msg.values[4]  },\n     { \"x\": 5, \"y\": msg.values[5]  },\n     { \"x\": 6, \"y\": msg.values[6]  },  \n     { \"x\": 7, \"y\": msg.values[7]  },\n    ],\n    [{ \"x\": 0, \"y\": msg.values[8] },\n     { \"x\": 1, \"y\": msg.values[9]  },\n     { \"x\": 2, \"y\": msg.values[10]  },\n     { \"x\": 3, \"y\": msg.values[11]  },\n     { \"x\": 4, \"y\": msg.values[12]  },\n     { \"x\": 5, \"y\": msg.values[13]  },\n     { \"x\": 6, \"y\": msg.values[14]  },  \n     { \"x\": 7, \"y\": msg.values[15]  },\n    ],\n\nmsg.payload1 =[{\n\"series\": [\"A\", \"B\", \"C\"],\n\"data\": [\n    [{ \"x\": 1504029632890, \"y\": 5 },\n     { \"x\": 1504029636001, \"y\": 4 },\n     { \"x\": 1504029638656, \"y\": 2 }\n    ],\n    [{ \"x\": 1504029633514, \"y\": 6 },\n     { \"x\": 1504029636622, \"y\": 7 },\n     { \"x\": 1504029639539, \"y\": 6 }\n    ],\n    [{ \"x\": 1504029634400, \"y\": 7 },\n     { \"x\": 1504029637959, \"y\": 7 },\n     { \"x\": 1504029640317, \"y\": 7 }\n    ]\n],\n\"labels\": [\"\"]\n}]\n*/\nreturn msg;\n\n","outputs":1,"noerr":0,"x":870,"y":300,"wires":[["21994911.33ac06","2fa145cb.fa794a"]]},{"id":"2fa145cb.fa794a","type":"debug","z":"ba40758d.fdf688","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":240,"wires":[]},{"id":"f1b3586b.8c82d8","type":"function","z":"ba40758d.fdf688","name":"Set Flow  Vars","func":"//CR removal\nmsg.payload[1] = msg.payload[1].substring(0, msg.payload[1].length - 2);\nglobal.set(\"VERSION\",msg.payload[1])\n//RESET\nglobal.set(\"Objectsize\",0);\nglobal.set(\"msgcount\",0);\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":20,"wires":[[]]},{"id":"9905aa8e.96aa88","type":"function","z":"ba40758d.fdf688","name":"Speed","func":"//CR removal\n//msg.payload[1] = msg.payload[1].substring(0, msg.payload[1].length - 1);\nglobal.set(\"Speed\",msg.payload[1])\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":60,"wires":[[]]},{"id":"3256d2.08ee392e","type":"function","z":"ba40758d.fdf688","name":"loops","func":"//CR removal\n//msg.payload[1] = msg.payload[1].substring(0, msg.payload[1].length - 1);\nglobal.set(\"Loops\",msg.payload[1])\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":140,"wires":[[]]},{"id":"f9a3bdb1.594d7","type":"comment","z":"ba40758d.fdf688","name":"Test Data","info":"","x":100,"y":400,"wires":[]},{"id":"9fae428e.ca723","type":"comment","z":"ba40758d.fdf688","name":"SQL Table","info":"SELECT \"Date\", \"Time\", \"TS\", \"Version\", \"Loops\", \"Edgespeed\", \"NRSpeed\", \"MaxValue\", \"Marker\", \"Threshold\", \"Group\", \"Location\", \"ID\", \"Sensor1\", \"Sensor2\", \"Sensor3\", \"Sensor4\", \"Comment\", \"TIMESTAMP\"\n  FROM \"DB2INST1\".\"ST1LABSTST\";\n\nINSERT\n  INTO  \"DB2INST1\".\"ST1LABSTST\" (\"Date\",\"Time\",\"TS\",\"Version\",\"Loops\",\"Edgespeed\",\"NRSpeed\",\"MaxValue\",\"Marker\",\"Threshold\",\"Group\",\"Location\",\"ID\",\"Sensor1\",\"Sensor2\",\"Sensor3\",\"Sensor4\",\"Comment\",\"TIMESTAMP\")\n  VALUES(\nNULL,               \t--Date  DATE \nNULL,               \t--Time  TIME \nNULL,               \t--TS  BIGINT \nNULL,               \t--Version  VARCHAR(30)  \nNULL,               \t--Loops  INTEGER \nNULL,               \t--Edgespeed  SMALLINT \nNULL,               \t--NRSpeed  SMALLINT \nNULL,               \t--MaxValue  SMALLINT \nNULL,               \t--Marker  VARCHAR(6)  \nNULL,               \t--Threshold  SMALLINT \nNULL,               \t--Group  VARCHAR(5)  \nNULL,               \t--Location  VARCHAR(16)  \nNULL,               \t--ID  VARCHAR(44)  \nNULL,               \t--Sensor1  DECIMAL(6)  \nNULL,               \t--Sensor2  DECIMAL(10)  \nNULL,               \t--Sensor3  DECIMAL(6)  \nNULL,               \t--Sensor4  DECIMAL(10)  \nNULL,               \t--Comment  VARCHAR(168)  \nNULL               \t--TIMESTAMP  TIMESTAMP(6)  \n);\n\nadd SQLTS\nALTER TABLE [accounts] \n ADD SQLTS DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ;\n ","x":100,"y":460,"wires":[]},{"id":"a0558738.5d6e08","type":"ui_text","z":"ba40758d.fdf688","group":"4ab36855.6cdc58","order":1,"width":0,"height":0,"name":"","label":"DEVICEID","format":"{{msg.payload[1]}}","layout":"row-spread","x":760,"y":160,"wires":[]},{"id":"e5342593.460328","type":"ui_text","z":"ba40758d.fdf688","group":"4ab36855.6cdc58","order":1,"width":0,"height":0,"name":"","label":"DEVICETYPE","format":"{{msg.payload[1]}}","layout":"row-spread","x":780,"y":200,"wires":[]},{"id":"9228f5af.00c208","type":"function","z":"ba40758d.fdf688","name":"DEVICEID","func":"//CR removal\nmsg.payload[1] = msg.payload[1].substring(0, msg.payload[1].length - 2);\nglobal.set(\"DEVICEID\",msg.payload[1])\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":100,"wires":[["41e6aab2.2fb394"]]},{"id":"1b75bed9.b734d1","type":"function","z":"ba40758d.fdf688","name":"DEVICETYPE","func":"//CR removal\nmsg.payload[1] = msg.payload[1].substring(0, msg.payload[1].length - 2);\nglobal.set(\"DEVICETYPE\",msg.payload[1])\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":200,"wires":[["7aab12.b59c24f","d365ead6.5ec888"]]},{"id":"2eabaf50.be957","type":"link out","z":"ba40758d.fdf688","name":"toDB","links":["e5ce17a0.3a6b88","905bb6e3.7114f8","5425d283.de892c"],"x":300,"y":380,"wires":[]},{"id":"7aab12.b59c24f","type":"function","z":"ba40758d.fdf688","name":"YOUR COMPUTER ID","func":"global.set(\"COMPUTERID\",\"MARKUS\")\nmsg.payload=global.get(\"COMPUTERID\")\nreturn msg;","outputs":1,"noerr":0,"x":1500,"y":160,"wires":[["f2ae9643.70cdd8"]]},{"id":"d365ead6.5ec888","type":"function","z":"ba40758d.fdf688","name":"YOUR LOCATON","func":"global.set(\"LOCATION\",\"TORONTO\")\nmsg.payload=global.get(\"LOCATION\")\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":280,"wires":[["69694491.dae86c"]]},{"id":"f2ae9643.70cdd8","type":"ui_text","z":"ba40758d.fdf688","group":"4ab36855.6cdc58","order":1,"width":0,"height":0,"name":"","label":"Computer","format":"{{msg.payload}}","layout":"row-spread","x":1540,"y":200,"wires":[]},{"id":"69694491.dae86c","type":"ui_text","z":"ba40758d.fdf688","group":"4ab36855.6cdc58","order":1,"width":0,"height":0,"name":"","label":"Location","format":"{{msg.payload}}","layout":"row-spread","x":1540,"y":240,"wires":[]},{"id":"4006ebb8.42e244","type":"comment","z":"ba40758d.fdf688","name":"user Definitions","info":"","x":1480,"y":120,"wires":[]},{"id":"7d85c329.480ebc","type":"function","z":"ba40758d.fdf688","name":"threshhold","func":"//CR removal\n//msg.payload[1] = msg.payload[1].substring(0, msg.payload[1].length - 1);\nglobal.set(\"threshhold\",msg.payload[1])\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":60,"wires":[[]]},{"id":"41e6aab2.2fb394","type":"debug","z":"ba40758d.fdf688","name":"DEVICEID","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1340,"y":100,"wires":[]},{"id":"db64fccd.e05bc","type":"inject","z":"ba40758d.fdf688","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":720,"wires":[["d96449c5.98d938"]]},{"id":"d96449c5.98d938","type":"function","z":"ba40758d.fdf688","name":"Simulate Data","func":"str=\"\"\nfor (a=0;a<100;a++)\n{\nmsg.payload={}  \nstr=\"\"\nfor (i=0;i<64;i++)\n{\nv=Math.floor(Math.random() * 350); \n//v=v+100;\nstr=str+v+\",\"    \n    \n}\nmsg.payload=str+\"#\";\n//node.warn(msg.payload.length)\nnode.send(msg)\n}","outputs":1,"noerr":0,"x":140,"y":680,"wires":[["885cc16.026a84","8d0f3f80.41bf4"]]},{"id":"885cc16.026a84","type":"debug","z":"ba40758d.fdf688","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":540,"wires":[]},{"id":"a04b7ae3.b4e408","type":"function","z":"ba40758d.fdf688","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":240,"wires":[["33a9e6c7.aa1cea","90ee28ab.211cf8"]]},{"id":"88f30c40.f2eae","type":"function","z":"ba40758d.fdf688","name":"Manufacturing Data","func":"\nmsg.payload=\"DEVICEID=ST1MVKSIM02 \"\nnode.send(msg)\nmsg.payload=\"DEVICETYPE=NODERED \"\nnode.send(msg)\nmsg.payload=\"SOURCE=NR \"\nnode.send(msg)\nmsg.payload=\"Speed=10 \"\nnode.send(msg)\nmsg.payload=\"VERSION=VERSION02 \"\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":800,"wires":[["885cc16.026a84","8d0f3f80.41bf4"]]},{"id":"ba1b4d25.8c44a","type":"inject","z":"ba40758d.fdf688","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":880,"wires":[["88f30c40.f2eae"]]},{"id":"8d0f3f80.41bf4","type":"delay","z":"ba40758d.fdf688","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":500,"wires":[["a04b7ae3.b4e408"]]},{"id":"c7a4db5d.39b788","type":"function","z":"ba40758d.fdf688","name":"","func":"\n//{group: \"C1\", variable: \"r1\", value: \"30\"},\n\n\n for (a in  msg.values ) {\n   msg.values[a] = parseInt( msg.values[a], 10); // Explicitly include base as per Álvaro's comment\n}\nv=1\ng=1\nbigdata=[]\nmyd={}\n for (a in  msg.values ) {\nmyd={}\nmyd.group=\"C\"+v\nmyd.variable= \"R\"+g\nmyd.value = msg.values[a]\nbigdata.push(myd)\nv++\nif(v>8)\n{\nv=1\ng++\n}\n\n}\nmsg.payload =bigdata\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":870,"y":360,"wires":[["c36459b3.36e8b8","c658a6ef.b53e08"]]},{"id":"c36459b3.36e8b8","type":"ui_template","z":"ba40758d.fdf688","group":"ac55a138.0440a","name":"heat map","order":1,"width":"20","height":"12","format":"\n<!-- Code from d3-graph-gallery.com -->\n<!DOCTYPE html>\n<meta charset=\"utf-8\">\n\n<!-- Load d3.js -->\n<script src=\"https://d3js.org/d3.v4.js\"></script>\n\n<!-- Create a div where the graph will take place -->\n<div id=\"my_dataviz\"></div>\n\n\n\n<script>\n (function(scope) {\n \n // Watch for messages being send to this template node\n scope.$watch('msg', function (msg) {\n  // console.log(msg.payload)\n if (msg) {\n \n //var ELEMENT = document.getElementById('ELEMENT');\n //ELEMENT = msg.payload;\nmyplot(msg.payload)\n }\n \n });\n })(scope);\n \n// set the dimensions and margins of the graph\nvar margin = {top: 50, right: 50, bottom: 50, left: 50},\n  width = 850 - margin.left - margin.right,\n  height = 550 - margin.top - margin.bottom;\n\n// append the svg object to the body of the page\nvar svg = d3.select(\"#my_dataviz\")\n.append(\"svg\")\n  .attr(\"width\", width + margin.left + margin.right)\n  .attr(\"height\", height + margin.top + margin.bottom)\n.append(\"g\")\n  .attr(\"transform\",\n        \"translate(\" + margin.left + \",\" + margin.top + \")\");\n\n// Labels of row and columns\nvar myGroups = [\"C1\", \"C2\",\"C3\", \"C4\",\"C5\", \"C6\",\"C7\", \"C8\"]\nvar myVars   = [\"R1\", \"R2\",\"R3\", \"R4\",\"R5\", \"R6\",\"R7\", \"R8\"]\n\n// Build X scales and axis:\nvar x = d3.scaleBand()\n  .range([ 0, width ])\n  .domain(myGroups)\n  .padding(0.01);\nsvg.append(\"g\")\n  .attr(\"transform\", \"translate(0,\" + height + \")\")\n  .call(d3.axisBottom(x))\n\n// Build X scales and axis:\nvar y = d3.scaleBand()\n  .range([ height, 0 ])\n  .domain(myVars)\n  .padding(0.01);\nsvg.append(\"g\")\n  .call(d3.axisLeft(y));\n\n// Build color scale\nvar myColor = d3.scaleLinear()\n  .range([\"white\", \"#69b3FF\"])\n  .domain([1,200])\n\nmvkdata=[{\"group\":\"C1\",\"variable\":\"R1\",\"value\":82},{\"group\":\"C1\",\"variable\":\"R2\",\"value\":182},{\"group\":\"C1\",\"variable\":\"R3\",\"value\":290},{\"group\":\"C1\",\"variable\":\"R4\",\"value\":67},{\"group\":\"C1\",\"variable\":\"R5\",\"value\":263},{\"group\":\"C1\",\"variable\":\"R6\",\"value\":341},{\"group\":\"C1\",\"variable\":\"R7\",\"value\":340},{\"group\":\"C1\",\"variable\":\"R8\",\"value\":62},{\"group\":\"C2\",\"variable\":\"R1\",\"value\":206},{\"group\":\"C2\",\"variable\":\"R2\",\"value\":76},{\"group\":\"C2\",\"variable\":\"R3\",\"value\":4},{\"group\":\"C2\",\"variable\":\"R4\",\"value\":290},{\"group\":\"C2\",\"variable\":\"R5\",\"value\":171},{\"group\":\"C2\",\"variable\":\"R6\",\"value\":215},{\"group\":\"C2\",\"variable\":\"R7\",\"value\":79},{\"group\":\"C2\",\"variable\":\"R8\",\"value\":15},{\"group\":\"C3\",\"variable\":\"R1\",\"value\":7},{\"group\":\"C3\",\"variable\":\"R2\",\"value\":252},{\"group\":\"C3\",\"variable\":\"R3\",\"value\":281},{\"group\":\"C3\",\"variable\":\"R4\",\"value\":271},{\"group\":\"C3\",\"variable\":\"R5\",\"value\":326},{\"group\":\"C3\",\"variable\":\"R6\",\"value\":21},{\"group\":\"C3\",\"variable\":\"R7\",\"value\":52},{\"group\":\"C3\",\"variable\":\"R8\",\"value\":109},{\"group\":\"C4\",\"variable\":\"R1\",\"value\":142},{\"group\":\"C4\",\"variable\":\"R2\",\"value\":349},{\"group\":\"C4\",\"variable\":\"R3\",\"value\":132},{\"group\":\"C4\",\"variable\":\"R4\",\"value\":93},{\"group\":\"C4\",\"variable\":\"R5\",\"value\":173},{\"group\":\"C4\",\"variable\":\"R6\",\"value\":142},{\"group\":\"C4\",\"variable\":\"R7\",\"value\":257},{\"group\":\"C4\",\"variable\":\"R8\",\"value\":134},{\"group\":\"C5\",\"variable\":\"R1\",\"value\":126},{\"group\":\"C5\",\"variable\":\"R2\",\"value\":155},{\"group\":\"C5\",\"variable\":\"R3\",\"value\":180},{\"group\":\"C5\",\"variable\":\"R4\",\"value\":304},{\"group\":\"C5\",\"variable\":\"R5\",\"value\":314},{\"group\":\"C5\",\"variable\":\"R6\",\"value\":332},{\"group\":\"C5\",\"variable\":\"R7\",\"value\":84},{\"group\":\"C5\",\"variable\":\"R8\",\"value\":309},{\"group\":\"C6\",\"variable\":\"R1\",\"value\":174},{\"group\":\"C6\",\"variable\":\"R2\",\"value\":10},{\"group\":\"C6\",\"variable\":\"R3\",\"value\":168},{\"group\":\"C6\",\"variable\":\"R4\",\"value\":342},{\"group\":\"C6\",\"variable\":\"R5\",\"value\":306},{\"group\":\"C6\",\"variable\":\"R6\",\"value\":282},{\"group\":\"C6\",\"variable\":\"R7\",\"value\":99},{\"group\":\"C6\",\"variable\":\"R8\",\"value\":96},{\"group\":\"C7\",\"variable\":\"R1\",\"value\":326},{\"group\":\"C7\",\"variable\":\"R2\",\"value\":334},{\"group\":\"C7\",\"variable\":\"R3\",\"value\":6},{\"group\":\"C7\",\"variable\":\"R4\",\"value\":305},{\"group\":\"C7\",\"variable\":\"R5\",\"value\":125},{\"group\":\"C7\",\"variable\":\"R6\",\"value\":251},{\"group\":\"C7\",\"variable\":\"R7\",\"value\":35},{\"group\":\"C7\",\"variable\":\"R8\",\"value\":321},{\"group\":\"C8\",\"variable\":\"R1\",\"value\":166},{\"group\":\"C8\",\"variable\":\"R2\",\"value\":212},{\"group\":\"C8\",\"variable\":\"R3\",\"value\":349},{\"group\":\"C8\",\"variable\":\"R4\",\"value\":224},{\"group\":\"C8\",\"variable\":\"R5\",\"value\":96},{\"group\":\"C8\",\"variable\":\"R6\",\"value\":259},{\"group\":\"C8\",\"variable\":\"R7\",\"value\":120},{\"group\":\"C8\",\"variable\":\"R8\",\"value\":-1}]\n//console.log(mvkdata)\n//Read the data\n\nfunction myplot(data)\n{\n//d3.csv(\"https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/heatmap_data.csv\", function(data) {\n//console.log(data)\n  // create a tooltip\n  /*\n  var tooltip = d3.select(\"#my_dataviz\")\n    .append(\"div\")\n    .style(\"opacity\", 0)\n    .attr(\"class\", \"tooltip\")\n    .style(\"background-color\", \"white\")\n    .style(\"border\", \"solid\")\n    .style(\"border-width\", \"2px\")\n    .style(\"border-radius\", \"5px\")\n    .style(\"padding\", \"5px\")\n*/\n  // Three function that change the tooltip when user hover / move / leave a cell\n  var mouseover = function(d) {\n    tooltip.style(\"opacity\", 1)\n  }\n  var mousemove = function(d) {\n    tooltip\n      .html(\"The exact value of<br>this cell is: \" + d.value)\n      .style(\"left\", \"10px\")\n      .style(\"top\", \"10px\")\n      //.style(\"left\", (d3.mouse(this)[0]+70) + \"px\")\n     // .style(\"top\", (d3.mouse(this)[1]) + \"px\")\n  }\n  var mouseleave = function(d) {\n    tooltip.style(\"opacity\", 0)\n  }\n\n  // add the squares\n  svg.selectAll()\n    .data(data, function(d) {return d.group+':'+d.variable;})\n    .enter()\n    .append(\"rect\")\n      .attr(\"x\", function(d) { return x(d.group) })\n      .attr(\"y\", function(d) { return y(d.variable) })\n      .attr(\"width\", x.bandwidth() )\n      .attr(\"height\", y.bandwidth() )\n      .style(\"fill\", function(d) { return myColor(d.value)} )\n      .append(\"text\")\n      .text(function(d){\n        return d.value;\n      })\n      .attr(\"y\", 20)\n      .style(\"font-family\", \"arial\")\n      .style(\"font-size\", \"8pt\")\n      \n    .on(\"mouseover\", mouseover)\n    .on(\"mousemove\", mousemove)\n    .on(\"mouseleave\", mouseleave)\n//})\n  svg.selectAll()\n    .data(data, function(d) {return d.group+':'+d.variable;})\n    .enter()\n\n     .append(\"text\")  \n           .attr(\"x\", function(d) { return x(d.group)+20 })\n      .attr(\"y\", function(d) { return y(d.variable)+30 })\n      .style(\"fill\", \"black\")\n      .style(\"font-size\", \"14px\")\n      .text( function(d) { return d.value} )\n      \n}\nmyplot(mvkdata)\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1120,"y":360,"wires":[[]]},{"id":"c658a6ef.b53e08","type":"debug","z":"ba40758d.fdf688","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":400,"wires":[]},{"id":"a7ceb426.867a38","type":"ui_button","z":"ba40758d.fdf688","name":"","group":"ac55a138.0440a","order":1,"width":0,"height":0,"passthru":false,"label":"SimulateData","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":80,"y":520,"wires":[["d96449c5.98d938","88f30c40.f2eae"]]},{"id":"5b711168.ecc4f","type":"debug","z":"ba40758d.fdf688","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":230,"y":40,"wires":[]},{"id":"e79899ff.08f188","type":"comment","z":"ba40758d.fdf688","name":"DEBUG Infos Example","info":"\nSPEED=0\nCHECKSUMPRE=0\nCHECKSUMCUR=0\nTHRESHOLD=35\nMYLOOPS=0\nVERSION=ST1-03172020-1400\nDEVICEID=ST1W0004\nDEVICETYPE=NANO328BT8x8\nSROUCE=USB\nBLUETHOOTH=0\n027,008,010,006,006,014,006,005,012,004,006,003,003,012,004,003,013,005,008,003,003,017,004,002,015,006,011,005,005,019,005,003,010,004,006,003,005,014,003,001,011,004,006,003,003,011,002,001,012,006,007,003,004,012,003,001,010,005,007,003,004,012,003,001,#\n","x":660,"y":500,"wires":[]},{"id":"8d7c60c3.5ae8b","type":"comment","z":"ba40758d.fdf688","name":"Right Hand example","info":"013,003,004,005,004,008,003,002,005,002,002,003,003,007,002,001,005,003,002,006,003,008,003,001,006,002,002,003,003,008,002,001,006,002,003,004,003,010,003,001,006,002,002,003,003,008,003,001,005,002,002,005,003,007,003,000,004,003,001,004,004,008,003,001,#\n008,003,003,006,003,006,008,001,003,002,003,005,003,007,010,001,003,003,003,006,003,009,017,001,003,003,003,005,003,007,015,001,003,003,003,006,003,009,017,001,003,003,005,006,004,008,011,000,003,003,003,010,003,006,008,000,003,004,003,005,003,006,009,000,#\n008,010,013,008,012,010,015,003,003,011,015,010,014,013,017,001,008,017,025,015,022,026,045,006,006,019,027,013,021,019,046,003,009,029,099,022,031,026,041,005,005,022,040,020,057,017,027,001,005,015,026,051,024,016,020,000,002,008,013,008,011,011,015,000,#\n010,017,016,015,014,012,015,003,006,023,024,019,022,019,023,003,017,081,056,034,050,038,071,011,012,050,050,033,043,030,113,006,016,074,203,059,083,037,061,006,010,060,109,052,110,028,050,002,008,045,088,097,054,025,040,001,005,018,019,012,014,012,018,000,#\n010,017,017,016,017,014,017,003,007,029,027,026,029,025,028,003,020,106,077,057,074,048,090,011,012,067,070,054,064,037,153,004,014,108,257,115,165,046,080,003,010,108,220,105,174,040,081,001,008,073,158,144,101,033,061,000,006,017,018,017,018,017,016,000,#\n012,017,017,018,018,015,017,003,009,033,033,029,031,027,032,004,022,126,092,070,088,050,109,012,014,087,084,068,078,041,177,003,016,134,280,132,183,048,097,002,012,148,246,128,197,043,101,000,010,094,183,169,118,038,075,000,006,017,019,017,017,016,016,000,#\n012,018,018,018,017,014,018,003,008,033,033,030,033,028,031,005,023,137,101,076,094,052,121,013,012,093,090,073,081,042,187,004,014,144,290,145,194,050,104,003,012,160,264,143,209,047,108,001,010,101,193,184,128,040,081,000,006,018,019,019,024,018,018,000,#\n012,019,019,018,018,015,019,004,008,034,034,031,034,028,034,005,024,142,105,081,101,052,133,015,013,097,094,077,087,044,198,005,015,146,296,151,203,050,109,003,011,168,266,148,220,048,115,001,009,106,197,190,134,040,086,001,006,019,019,019,022,015,017,000,#\n013,018,018,018,018,015,018,003,008,035,034,031,033,029,034,004,024,146,109,086,103,054,135,013,014,099,097,081,090,045,203,004,015,154,296,158,210,050,112,003,012,176,275,156,223,049,119,001,011,111,202,202,137,042,087,000,006,019,020,020,020,019,019,000,#\n013,017,018,017,017,015,019,003,008,035,034,031,034,028,035,005,025,149,112,087,106,058,138,013,015,106,102,083,096,048,209,004,015,157,300,157,219,053,116,002,012,180,278,155,232,051,124,001,011,112,198,196,139,043,090,000,006,019,020,020,020,018,019,000,#\n013,019,019,019,019,016,019,003,008,034,035,033,035,030,035,005,025,151,114,088,107,058,140,013,014,108,103,085,095,048,215,003,016,160,304,160,216,052,117,002,013,183,281,158,228,052,125,000,011,114,201,201,138,043,091,000,006,024,020,019,020,017,019,000,#\n013,019,017,018,019,015,019,003,009,036,036,033,035,031,036,005,024,154,115,090,108,059,142,013,015,109,105,087,097,050,216,003,017,160,305,163,216,054,120,001,013,182,282,162,230,052,128,000,012,114,201,202,139,045,092,000,007,020,020,020,020,017,023,000,#\n014,019,019,017,019,016,019,004,010,036,035,032,034,029,034,005,026,156,115,087,108,056,141,013,015,110,106,085,095,046,217,003,017,162,300,155,209,050,121,002,014,185,275,150,222,049,128,000,013,113,198,189,134,042,093,000,006,019,020,019,019,015,019,000,#\n014,018,019,019,019,016,019,003,009,036,034,030,034,029,034,004,026,151,112,081,101,054,133,012,016,104,101,078,090,045,214,003,017,160,294,141,194,050,115,001,014,182,269,130,202,049,120,000,013,108,185,167,123,041,085,000,006,019,021,020,020,016,019,000,#\n014,019,019,017,019,015,019,004,009,031,030,025,030,024,027,004,022,128,086,058,074,047,080,015,016,078,078,056,064,039,170,007,017,130,266,106,137,045,085,006,014,146,223,098,156,042,090,003,012,087,160,144,092,035,063,002,006,024,026,019,020,015,019,001,#\n013,017,017,014,015,012,016,003,006,021,020,017,018,013,017,002,017,097,051,031,037,028,039,011,012,042,042,027,031,022,067,004,016,069,186,050,057,031,047,007,011,062,115,050,090,025,046,001,008,048,089,108,052,025,036,001,006,015,017,015,019,013,014,000,#\n010,006,007,006,006,006,003,001,005,005,008,007,005,006,003,001,004,005,008,006,006,006,004,000,005,005,008,007,007,006,005,000,006,010,024,009,008,008,005,000,005,007,012,008,008,006,003,000,007,010,013,028,012,007,005,000,003,005,008,006,006,005,002,000,#\n011,003,004,004,002,007,005,001,005,003,003,003,001,006,004,000,005,003,003,003,002,007,004,000,005,003,003,003,002,008,005,000,004,003,004,004,003,008,005,000,004,003,003,003,001,006,003,000,005,003,003,003,001,007,004,000,005,004,003,004,001,007,004,000,#\n012,004,005,004,004,008,005,001,004,003,005,003,003,008,005,001,005,003,005,003,003,008,004,000,006,004,004,004,003,010,005,001,006,004,005,004,004,010,005,001,005,003,005,003,003,008,004,000,006,003,005,005,003,008,004,000,005,003,005,003,003,008,004,000,#\n012,003,005,004,003,009,005,003,006,002,004,004,002,008,004,001,004,002,003,005,001,008,003,001,006,003,005,005,003,011,005,001,005,003,003,005,002,010,005,001,005,002,003,005,002,008,003,000,005,002,003,005,002,008,003,000,005,002,003,005,002,008,003,000,#\n011,003,010,007,006,010,013,003,005,002,010,007,006,011,015,001,012,008,017,012,012,039,050,006,008,005,015,010,010,019,056,003,006,003,030,010,010,017,027,002,006,003,019,011,010,018,038,001,006,002,016,033,013,016,020,001,005,000,012,008,007,012,012,000,#\n007,015,014,012,012,012,015,003,005,016,017,013,013,013,013,001,015,052,041,024,027,045,071,012,008,032,036,021,024,027,081,003,012,045,134,033,035,031,052,003,008,040,068,032,047,030,071,001,008,031,055,074,034,026,041,001,006,013,015,015,015,012,015,000,#\n012,018,017,015,015,015,018,003,006,020,019,015,015,015,024,003,021,111,068,045,054,057,106,015,011,057,059,041,050,038,125,004,015,076,203,071,084,041,081,004,012,087,139,069,100,040,113,002,012,060,142,127,069,037,064,001,006,018,018,017,017,015,022,000,#\n001,002,003,004,005,006,007,008,001,002,003,004,005,006,007,008,001,002,003,004,005,006,007,008,001,002,003,004,005,006,007,008,001,002,003,004,005,006,007,008,001,002,003,004,005,006,007,008,001,002,003,004,005,006,007,008,001,002,003,004,005,006,007,008,#Header\n012,018,017,015,015,015,018,003,006,020,019,015,015,015,024,003,021,111,068,045,054,057,106,015,011,057,059,041,050,038,125,004,015,076,203,071,084,041,081,004,012,087,139,069,100,040,113,002,012,060,142,127,069,037,064,001,006,018,018,017,017,015,022,000,#\nSPEED=59\nCHECKSUMPRE=2854\nCHECKSUMCUR=1703\nTHRESHOLD=35\nMYLOOPS=3413\nVERSION=ST1-03172020-1400\nDEVICEID=ST1W0004\nDEVICETYPE=NANO328BT8x8\nSROUCE=USB\nBLUETHOOTH=0\n012,018,016,017,017,015,017,003,008,023,020,020,022,014,021,003,027,179,108,078,096,068,148,020,015,090,092,071,085,052,179,006,017,120,268,134,179,052,120,005,015,151,243,129,202,056,158,003,013,095,198,212,126,048,097,002,008,020,021,020,020,017,020,001,#\n013,018,018,017,017,015,018,003,010,023,023,022,023,020,023,002,028,188,115,085,108,069,153,020,015,097,098,078,092,053,188,005,019,128,277,144,212,054,128,003,017,158,250,137,219,059,167,002,015,099,198,221,137,048,101,001,008,020,024,020,020,019,019,001,#\n012,023,018,017,018,015,018,003,008,024,024,022,024,018,025,003,027,189,119,087,110,070,158,017,014,100,104,081,097,055,189,003,019,134,292,148,223,055,137,001,016,164,254,140,224,060,178,000,014,102,198,221,139,050,106,000,008,019,020,019,020,019,019,000,#\n013,019,018,017,018,017,017,003,009,023,024,023,024,021,025,003,028,188,120,089,113,074,162,020,015,104,107,084,100,058,195,005,019,136,296,153,233,059,138,003,017,166,259,145,233,062,177,001,014,105,204,222,148,052,109,001,008,020,020,020,020,017,020,000,#\n013,019,019,018,017,017,019,004,009,025,025,023,024,022,024,003,029,193,121,091,116,074,163,020,016,106,107,085,101,058,196,005,019,139,296,154,238,059,139,003,017,170,261,146,236,064,179,002,015,107,208,221,148,053,109,001,008,020,021,020,020,017,024,000,#\n013,019,019,018,013,016,019,003,009,024,024,022,024,020,022,003,028,193,123,090,116,074,163,020,015,107,109,086,102,059,195,005,018,142,301,153,237,060,141,003,017,174,258,143,237,064,184,002,015,106,200,217,145,052,108,001,007,019,020,020,025,020,019,000,#\n012,019,018,018,018,016,019,003,009,026,024,022,022,020,026,003,027,189,118,081,106,071,158,021,015,102,103,076,092,056,192,005,017,135,293,135,203,057,128,004,015,168,246,127,207,060,171,003,013,101,190,195,127,050,099,001,007,020,020,019,024,017,020,001,#\n013,017,017,016,016,015,019,003,009,024,023,020,021,016,024,002,024,143,084,054,068,062,120,019,013,072,073,052,061,043,167,007,017,089,236,089,115,046,095,006,013,101,157,081,123,048,148,004,012,067,142,149,082,040,071,003,008,019,019,017,019,019,019,001,#\n011,015,015,013,014,008,015,003,006,015,013,014,016,009,015,003,011,048,036,022,025,013,027,003,010,027,036,023,027,013,057,003,015,045,165,039,041,023,044,006,009,038,083,040,066,017,074,002,010,034,076,099,045,018,039,001,005,013,020,016,016,010,015,000,#\n010,005,005,005,005,008,005,002,005,003,004,004,003,008,004,001,005,003,004,004,004,008,005,001,006,005,004,004,004,009,005,001,004,004,004,005,003,009,006,000,005,004,004,005,004,010,005,000,005,004,005,008,005,010,005,000,004,004,004,005,003,008,004,000,#\n","x":650,"y":560,"wires":[]},{"id":"bf011fa9.0ddca","type":"comment","z":"ba40758d.fdf688","name":"Right Hand","info":"015,005,005,004,003,009,005,003,007,004,004,003,001,009,005,002,006,004,005,003,001,013,004,001,005,003,004,003,001,011,004,001,007,004,005,003,002,012,004,002,005,004,005,003,001,010,003,001,006,004,005,003,001,009,003,001,006,004,004,003,001,010,003,001,#\n014,003,006,003,003,006,003,002,008,001,005,002,003,008,001,001,006,001,004,002,003,009,001,001,007,001,004,001,002,007,001,001,008,002,007,003,004,010,003,002,007,001,005,001,003,008,001,001,007,001,006,002,003,006,001,001,006,001,005,002,003,008,002,001,#\n010,018,012,013,017,013,014,003,008,020,012,015,019,018,016,002,016,050,022,027,050,060,031,009,017,100,026,032,054,041,048,006,016,130,028,045,060,036,042,003,018,177,036,047,088,038,044,001,014,046,031,102,043,028,029,000,008,013,011,012,013,015,012,000,#\n012,019,018,019,017,017,017,003,010,027,024,026,027,023,022,003,019,066,048,054,066,079,045,009,020,121,063,077,078,059,080,005,022,194,101,191,108,054,063,003,019,251,116,131,157,056,067,001,016,111,134,185,088,045,050,000,010,021,016,017,016,014,019,000,#\n011,019,018,018,018,017,017,002,010,026,024,026,027,022,022,003,018,069,057,059,073,083,050,010,020,123,080,087,086,062,099,005,020,207,139,221,121,055,074,003,018,268,165,160,172,060,081,000,015,144,194,227,110,050,064,000,007,017,017,018,017,012,019,000,#\n013,019,018,017,018,017,017,002,010,028,026,027,029,022,024,003,019,074,063,065,074,083,054,010,020,129,090,094,090,062,104,005,020,215,159,243,127,057,079,003,018,276,201,175,180,062,086,000,016,159,215,245,120,053,069,000,010,022,022,021,019,015,018,000,#\n012,019,019,019,019,017,017,003,010,029,027,028,029,024,025,003,019,076,066,067,080,085,056,010,022,132,094,097,092,064,110,005,022,224,169,248,130,059,082,003,018,283,210,182,181,064,089,000,017,167,226,250,124,054,073,000,008,020,022,022,022,017,023,000,#\n013,019,018,019,017,017,018,003,011,029,027,028,027,024,025,003,019,076,066,065,078,085,055,010,021,132,093,096,091,065,109,005,022,225,167,247,127,059,081,003,019,282,203,178,174,062,087,000,017,163,214,246,119,054,071,000,009,019,020,020,019,016,020,000,#\n012,019,019,019,019,016,019,003,012,030,027,028,029,025,025,003,019,072,055,060,067,084,054,009,021,130,081,090,087,064,108,006,022,211,130,209,117,057,078,003,019,277,153,149,164,061,086,000,016,141,169,219,102,050,065,000,008,018,017,019,017,015,019,000,#\n012,017,015,017,017,015,015,002,010,024,016,020,022,018,018,002,017,057,035,038,052,060,032,006,019,115,047,052,061,049,058,005,019,173,063,085,073,040,047,003,018,248,080,078,109,046,055,001,015,083,073,158,060,033,035,000,007,016,014,015,013,015,012,000,#\n009,015,007,008,006,007,006,002,007,015,007,009,006,008,007,001,006,017,008,010,006,010,008,001,008,021,008,012,006,013,015,001,008,037,010,012,009,011,011,001,015,134,022,022,017,019,017,004,009,026,012,057,012,010,010,000,006,013,006,008,006,006,006,000,#\n010,005,005,004,003,006,001,001,006,003,003,002,003,006,001,000,005,003,003,003,003,010,001,000,005,003,003,001,002,008,002,000,006,003,003,002,003,006,001,000,005,003,003,002,002,005,001,000,005,003,003,002,002,006,002,000,004,003,003,001,002,006,001,000,#\n","x":630,"y":640,"wires":[]},{"id":"3ac56806.cc6b08","type":"comment","z":"ba40758d.fdf688","name":"Left Hand","info":"017,006,006,006,005,009,004,002,008,005,004,004,004,010,002,001,008,006,005,005,004,013,002,001,010,006,006,005,005,012,002,000,009,006,006,006,006,012,003,001,008,005,005,005,003,008,002,000,008,006,005,003,005,009,002,000,008,006,005,005,005,012,002,000,#\n010,001,004,004,006,006,001,001,005,002,005,004,010,007,003,001,004,001,004,003,005,004,001,000,004,001,006,002,006,007,003,000,004,001,005,004,005,006,001,000,004,001,003,002,005,006,001,000,004,001,003,002,005,005,001,000,004,001,005,003,005,006,001,000,#\n010,006,012,005,010,010,009,002,010,010,020,012,043,015,014,006,006,007,020,008,015,013,013,002,005,005,018,006,011,012,012,000,007,006,025,008,012,013,012,001,006,005,015,007,012,029,013,000,006,005,010,006,010,008,009,000,006,005,013,005,010,011,009,000,#\n010,005,016,009,012,012,013,003,013,015,034,041,081,024,027,011,010,009,071,019,031,027,039,005,006,003,027,011,015,018,024,000,010,008,104,017,024,027,054,002,008,006,034,016,021,091,027,000,006,003,017,010,012,010,013,000,005,003,017,010,012,015,013,000,#\n007,006,017,015,016,015,016,003,024,024,116,099,141,046,058,019,012,015,179,059,119,048,066,005,006,010,058,031,044,033,042,000,009,012,163,050,072,050,100,000,008,012,062,039,050,167,047,000,005,006,013,012,017,015,012,000,005,007,014,012,018,013,013,000,#\n007,017,019,015,018,016,017,002,028,045,144,138,174,061,074,022,012,053,212,080,148,066,092,004,007,033,100,055,073,047,065,000,009,038,180,065,090,067,144,000,008,034,082,053,065,196,064,000,005,014,018,012,017,012,015,000,005,010,018,016,013,014,013,000,#\n006,019,021,019,020,017,019,003,030,067,184,172,192,067,087,024,012,099,242,107,164,073,106,004,008,054,136,095,103,058,081,000,010,061,175,081,099,073,170,001,009,050,091,064,070,206,073,000,005,015,012,017,018,012,019,000,005,012,019,017,017,017,017,000,#\n008,018,021,020,021,018,019,003,031,078,191,190,202,070,095,025,013,118,254,127,175,079,116,005,010,070,162,144,127,064,088,001,011,073,183,095,109,076,184,000,010,059,100,069,076,211,076,000,005,011,018,012,017,012,012,000,006,012,018,017,012,013,017,000,#\n008,019,020,020,020,019,020,003,031,082,195,201,209,070,100,027,013,123,257,134,182,080,122,006,010,076,169,163,135,066,097,003,010,074,185,101,112,076,197,001,011,059,100,073,078,209,078,001,005,012,012,018,012,012,012,000,005,015,018,017,013,017,017,001,#\n008,020,024,022,022,019,020,002,032,081,200,209,212,073,101,026,014,121,256,140,184,081,123,005,010,075,176,172,137,068,097,001,010,075,188,104,113,078,191,001,010,058,103,075,080,207,081,001,005,012,012,012,018,012,012,000,006,017,019,018,018,017,019,000,#\n008,020,022,020,021,018,020,003,033,080,196,206,208,071,097,025,015,120,245,138,181,078,116,005,012,073,171,172,137,065,094,002,012,073,186,103,111,075,184,001,011,058,101,074,079,201,076,000,005,012,013,018,012,012,018,001,006,017,019,019,017,013,018,000,#\n008,022,025,024,023,020,021,003,033,081,203,209,212,073,099,025,014,121,252,140,183,082,119,005,010,074,176,170,139,068,095,001,012,074,193,106,115,078,187,001,011,060,106,074,080,203,080,000,005,012,012,013,019,012,018,000,006,013,019,014,014,018,018,000,#\n009,022,025,024,024,020,022,003,033,083,205,210,208,070,101,026,015,121,250,138,181,078,121,005,010,074,174,159,133,064,095,001,012,074,188,104,110,073,191,001,010,059,102,074,076,198,076,001,006,012,012,019,018,012,012,000,006,017,019,013,018,017,013,001,#\n008,022,027,025,026,021,024,004,034,075,205,210,210,073,102,024,014,108,243,135,177,080,123,005,010,066,167,149,128,064,093,002,013,067,186,102,111,074,198,002,012,054,107,074,078,202,078,001,006,011,012,012,012,012,012,000,006,013,017,019,019,019,019,000,#\n011,021,027,026,027,022,024,004,034,066,186,204,203,072,098,024,015,090,231,123,167,079,123,005,011,057,153,122,115,062,088,001,013,060,193,095,107,076,199,001,012,050,106,072,078,202,080,000,006,012,012,019,012,012,019,000,005,017,020,014,019,017,015,000,#\n011,015,024,022,023,020,023,004,033,041,153,182,196,068,093,026,015,037,206,099,155,075,128,004,010,026,107,072,083,050,071,001,013,031,193,078,099,073,202,003,012,028,104,063,073,189,079,001,006,012,019,013,019,012,013,000,006,012,020,013,014,019,015,000,#\n006,008,017,015,016,015,016,002,027,029,076,125,162,049,063,020,010,017,128,054,089,056,107,003,006,010,038,025,029,027,034,000,011,017,167,045,058,061,186,001,010,015,104,041,052,155,071,000,005,007,018,012,016,012,012,000,006,007,019,015,017,015,015,000,#\n006,003,011,007,009,013,013,001,019,015,028,024,102,029,029,009,008,006,021,012,021,031,088,005,005,001,015,007,010,016,024,000,011,007,030,016,025,033,186,003,006,003,025,010,016,092,040,000,005,001,012,006,010,012,015,000,005,001,013,006,011,016,013,000,#\n008,002,006,003,002,008,011,002,005,002,005,002,002,008,012,001,012,008,011,006,006,013,036,004,005,002,006,002,003,007,015,001,010,005,009,006,005,012,052,004,005,001,005,002,003,012,017,000,005,002,005,001,002,008,012,000,005,001,005,001,003,010,013,000,#\n008,003,005,003,003,006,004,001,005,001,005,001,003,007,003,000,004,001,005,002,003,008,004,000,005,002,006,002,003,009,005,000,006,002,006,003,004,010,005,001,005,001,005,001,003,008,003,000,005,001,006,002,003,007,003,000,005,002,006,002,003,008,004,000,#\n","x":640,"y":680,"wires":[]},{"id":"bb3e1ffa.bc1ca","type":"serial-port","z":"","serialport":"/dev/tty.usbserial-143320","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"4ab36855.6cdc58","type":"ui_group","z":"","name":"St1Labs","tab":"13aa00a4.0d7d6f","order":1,"disp":true,"width":"6","collapse":false},{"id":"a9df4ff8.03056","type":"ui_group","z":"","name":"ST1LabsChart","tab":"2a2d6921.86c926","disp":true,"width":"20","collapse":false},{"id":"ac55a138.0440a","type":"ui_group","z":"","name":"ST1HeatMapTab","tab":"6ca7d008.ef003","order":2,"disp":false,"width":"20","collapse":false},{"id":"13aa00a4.0d7d6f","type":"ui_tab","z":"","name":"ST1Labs","icon":"dashboard","disabled":false,"hidden":false},{"id":"2a2d6921.86c926","type":"ui_tab","z":"","name":"ST1LabsChat","icon":"dashboard","disabled":false,"hidden":false},{"id":"6ca7d008.ef003","type":"ui_tab","z":"","name":"ST1HeatMap","icon":"fa-map","disabled":false,"hidden":false}]
